<header id="header" class="cf">

			 <div class="inner cf">

				 <div class="logo">

				 	 <a href="https://childrenincorporated.org/"><img src="https://childrenincorporated.org/wp-content/themes/children_theme/images/logo.svg" alt="Children Incorporated"></a>

				 </div><!-- .logo -->

				<a id="open-menu" href="javascript:openMenu();">Menu</a>


				 <section class="right-menu mobile-menu">

					 <nav class="top-menu">

					  	<div class="menu-header-buttons-right-container"><ul id="menu-header-buttons-right" class="menu"><li id="menu-item-1195" class="buttonwrap menu-item menu-item-type-post_type menu-item-object-page menu-item-1195"><a href="https://childrenincorporated.org/wont-you-join-us-in-our-efforts/">Donate</a></li>
<li id="menu-item-1194" class="buttonwrap blue menu-item menu-item-type-custom menu-item-object-custom menu-item-1194"><a href="https://dms.childrenincorporated.org/CI/Donor/CISponsorChild.aspx">Sponsor a Child</a></li>
<li id="menu-item-2560" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2560"><a href="https://dms.childrenincorporated.org/CI/Donor/Login.aspx">My Account</a></li>
</ul></div>
					 </nav>

					 <nav class="bottom-menu">

							<div class="menu-header-right-menu-container"><ul id="menu-header-right-menu" class="menu"><li id="menu-item-2567" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2567"><a href="https://childrenincorporated.org/our-work-2/">Our Work</a></li>
<li id="menu-item-2564" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2564"><a href="https://childrenincorporated.org/about/">About</a></li>
<li id="menu-item-2566" class="menu-item menu-item-type-post_type menu-item-object-page current_page_parent menu-item-2566"><a href="https://childrenincorporated.org/on-the-road/">On the Road</a></li>
<li id="menu-item-1595" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1595"><a href="https://childrenincorporated.org/shop/">Shop</a></li>
<li id="menu-item-435" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-435"><a href="https://childrenincorporated.org/meet-the-team/">Team</a></li>
<li id="menu-item-432" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-432"><a href="https://childrenincorporated.org/contact-us/">Contact</a></li>
</ul></div>
					 </nav>

				 </section><!-- #right-menu -->

			</div>

		</header>