#region-how-tos {

	h1 {
		text-align: left;
	}

	img {
		float: none;
		margin-bottom: 20px;
		height: auto;

		@media screen and (min-width: $bp-large) {
			float: right;
			max-width: 350px;
			margin-left: 20px;
		}
	}

	@media screen and (min-width: $bp-large) {
		.col-8 {
			padding-left:$col-1; 
		}
	}
}