.ci-home {
	color:$grey;

	section {
    position:relative;
	}

	.dms-donate-fund-form-helper {
		text-align: center;
	}
}
.cropped-background-image {
	color: $white;
	background-size: cover;
	background-position: center;
	background-color: $blue;

	&.no-overlay {
		padding-bottom: 50%;
		width: 100%;
	}

}

.ci-home-sponsor-cta--content {
	padding: 2em 0;

	header {
		margin-bottom: 2em;
	}

	.h1 {
		color: $white;
		font-family: 'halisgr';
		font-weight: bold;
		text-transform: uppercase;
		font-size: 3.625em;
		margin-bottom: 8px
	}

	.subtitle {
		font-size: 1.75em;
		font-weight: 700;
		font-style: italic;
	}

	p {
		margin-bottom: 1.5em;
		font-size: 1.25em;
		max-width: 533px;
		line-height: 1.75;
		font-weight: bold;
	}
}

.ci-home-mission {
	text-align: center;
	line-height: 2.125;

	header {
		max-width: 730px;
		margin: 0 auto;
	}

	h2 {
		color: white;
	}

	p {
		font-size: 1.25em;
		margin-bottom: 2em;
		line-height: 1.75;
	}
}

.ci-home-experiences {

	h2 {
		color: $grey;
		margin-bottom: 16px;
	}

	p {
		margin-bottom: 0em;
		font-size: 1.25em;
		max-width: 533px;
		line-height: 1.75;
		padding: 0;

		&:first-of-type {
			margin-bottom: 1em;
		}
	}
}

.ci-home-experiences--flexbox {
	display: flex;
	justify-content: space-between;
	flex-direction: column-reverse;

	@media screen and (min-width: $bp-med-2) {
		align-items: center;
		flex-direction: row;
	}
}

.ci-home-experiences--video {
	width: 100%;
	margin-top: 2em;
	margin-bottom:2em;

	@media screen and (min-width: $bp-med-2) {
		margin-bottom: 0;
		padding: 0 2em;
		width: 50%;
	}
}

.ci-home-impact {
	h1 {
		margin-bottom:1em;
	}
}

.ci-home-impact--items {
	display: flex;
	flex-wrap:wrap;
  justify-content: center;

  font-size:.825em;

  max-width: 580px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $bp-small) {
  	justify-content: space-between;
    margin-top: 80px;
 	}

 	@media screen and (min-width: $bp-small-2) {
 		max-width: initial;
 		font-size: 1em;
 	}

  li {
  	width: 140px;
  	padding:20px 20px 0;
  	transition: transform $transition;
  	margin-bottom:20px;

  	@media screen and (min-width: $bp-small-2) {
	  	width: 50%;
	 	}

	 	h3 {
	 		max-width:200px;
	 		margin-left:auto;
	 		margin-right:auto;
	 	}

	 	@media screen and (min-width: $bp-med-2) {
	  	width: 200px;
	 	}

  	svg, object {
  		height:60px;

  		@media screen and (min-width: $bp-small-2) {
		  	height:100px;
		 	}
  	}

  	&:hover {
  		transform:scale(1.125);
  		background: rgba(203,203,203,.2);
  		border: 1px solid $blue;
  	}
  }

  span.number {
  	display: block;
    line-height: 1;
    margin: .5em 0 0.25em;
    font-size: 2.25em;
  }
}
.ci-home-ontheroad {
	position: relative;
	background: linear-gradient(to bottom, $yellow 0%,$yellow 39%,white 39%);

	.inner {
		z-index: 1;
	}
}
.ci-home-ontheroad--childs {
	display: block;
	border-right: none; 
	margin-bottom:60px;

	@media screen and (min-width: $bp-small-3) {	
		border: 1px solid $blue; 
		margin-bottom:120px;
		display: flex;
		flex-direction: column;
 	}


	li {
		width:100%;
		box-sizing: border-box;
		background-size: 100% auto;
		background-position: top center;
		background-repeat: no-repeat;
		border: 1px solid $blue;
		padding-top: 60%;
    margin-bottom: 3em;


		@media screen and (min-width: $bp-small-3) {	
			border: none;
			border-right: 1px solid $blue;
			background-size: cover;
			background-position: center center;
			padding-top: 0;
    	margin-bottom: 0;

    	&:last-child {
	    	border:none;
	    }
		}

		.ci-home-ontheroad--childstory {
			background:white;
			box-sizing: border-box;
			width: 100%;
			padding:1.5em 7%;
			transition: opacity $transition;
			text-align: center;
			display:flex;
			flex-direction: column;
			justify-content: space-between;
			height:100%;

			@media screen and (min-width: $bp-small-3) {	
				opacity:0;
				padding:3em 20%;
			}

			img, object, svg {
				max-height: 100%;
				width:100%;
				height:auto;
			}

			h4 {
				margin-bottom: 12px;
				@media screen and (min-width: $bp-small-3) {
					margin-bottom: 2em;
				}
			}
			p {
				line-height: 1.5;
				padding-bottom: 0;
				@media screen and (min-width: $bp-small-3) {
					padding-bottom: 20px;
				}
			}
			a {
				padding: 5% 5% 0;
			}
		}

		&:hover .ci-home-ontheroad--childstory {
			opacity:1;
		}
	}

	@media screen and (min-width: $bp-med) {

		flex-direction:row;

		li {
			width:33.333%
		}
	}
}

.ci-home-ontheroad--globe {
	display: flex;
	align-items: center;

	flex-direction: column-reverse;

	@media screen and (min-width: $bp-med) {

		flex-direction: row;

		> div:first-child {
			width: $col-1 * 5;
			margin-right:$col-1;
		}

	}
	.ci-button--primary {
		margin-bottom: 1em;
	}

	.ci-home-ontheroad--map {
		flex:1;
		margin-bottom: 20px;
	}

	svg, object {
		width:100%;
		height: auto;
	}
}

.ci-home-testimonial {

	blockquote {
		margin:0 auto;
		font-size:1.25em;
		line-height: 1.5;
		max-width: 730px;

		cite {
			@extend h4;
			color: white;
			margin-top:1em;
			font-size:.875em;
			line-height: 1.5;
		}

	}
}

.ci-home-findachild {

	p {
		max-width: 45ch;
		margin-left:auto;
		margin-right:auto;
	}

	.ci-form-element {
		
		max-width:580px;
		margin: 40px auto;

		@media screen and (min-width: $bp-med) {
			display: flex;
			align-items: center;
		}

	}

	.ci-form-element__label {
		font-family:$font;
		font-style: italic;
		font-weight:normal;
		text-transform: none;
		color:$blue;
		display: block;
		text-align: center;

		@media screen and (min-width: $bp-med) {
			margin: .25em 1em 0 0;
			display: inline-block;
		}

	}

	.ci-form-element__control {
		flex:1;
	}

}

.ci-home-testimonial__readstories {
	a {
		display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
	}
	h4 {
		color:white;
		margin-left:1em;
		margin-bottom: 0
	}
}

.ci-home-instagram {

	h4 > a, .ci-home-instagram__social {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	h4 > a svg {
		margin-right:1em;
	}

	.ci-home-instagram__social {
		color:$blue;
		font-style: italic;
	}

	.ci-home-instagram__feed {
		margin:40px 0;
	}

	.sbi_photo_wrap {
		border:1px solid $yellow;
	}

	.ci-subfooter__social {
		width: auto;
		margin:0;
		display: inline;


		a {
			margin-left: .5em;
		}

		

	}

}


