.ci-about {
	color:$grey;

	section {
    position:relative;
	}

	.dms-donate-fund-form-helper {
		text-align: center;
	}


}

.ci-about-what, .ci-about-ways {
	p {
		line-height: 1.5;

		@media screen and (min-width: $bp-small-3) {
			font-size: 1.25em;
		}
	}
}

.ci-about-sponsorship {

	.cols-7-5 {
		margin-bottom:60px;

		&:last-child {
			margin-bottom:0;
		}

		h2 {
			color:$grey-dark-2;
		}
	}

	.col-5 img {
		@media screen and (min-width: $bp-med) {
			padding-left: 20%;
		}
	}

	.inner {
		padding-bottom: 0;
	}

}

.ci-about-special-funds {
	.inner.header-wrap {
		max-width:560px;
		padding-left:0;
		padding-right: 0;
		padding-bottom: 0;

		> h2 {
			color: $grey-dark-2;
		}
	}

	.funds-wrap {
		padding-top: 60px;
		padding-bottom: 0;

		&.-projects {
			padding-bottom: 60px;
		}
	}

	.fund-list-heading {
		text-align: left;
		padding-bottom: 8px;
		margin-bottom: 32px;
		border-bottom: 1px solid $grey-med;
	}

	.funds-list,
	.projects-list {


		@media screen and (min-width: $bp-med) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
	  }

		a {
			font-size:14px;
		}

		li {

			> div:first-child {
				text-align: left;
			}
		}
		.ci-button {
			padding: .625em 1.5em;
	    min-width: unset;
	    line-height: 1;
	    font-size: 14px;
		}
		h5 {
			margin-bottom: 8px;
		}
	}

	.funds-list {
		li {
			display: flex;
			justify-content: space-between;
			border-bottom: 1px solid $grey-med;
			padding-bottom: 16px;
			margin-bottom: 24px;
			flex: 0 0 48%;

			> div:first-child {
				text-align: left;
			}
		}
	}

	.projects-list {
		li {
			flex: 0 0 30%;

			.img-wrap {
				position: relative;
				height: 260px;
				margin-bottom: 24px;
				overflow: hidden;

				@media screen and (min-width: $bp-med) and (max-width: $bp-large) {
			    height: 180px;
			  }

				img {
					
					@supports( object-fit: cover ){
						object-fit: cover;
						height: 100%;
					}

				}
			}

			.text-wrap {
				display: flex;
				justify-content: space-between;
				padding-bottom: 16px;
				margin-bottom: 24px;

				@media screen and (min-width: $bp-med) and (max-width: $bp-full) {
					display: block;
					text-align: center;

					.btn-wrap {
						display: flex;
						justify-content: center;
						align-items: center;
						margin-top: 12px;
					}
				}
			}
		}

	}
}
.ci-about-ctas {
	
	.inner {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	path {
		fill: $grey;
	}
	a {
		display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;

    @media screen and (min-width: $bp-med) {
	    margin-bottom: 0;
	  }

    h4 {
    	margin-left:1em;
    	margin-bottom: 0;
    	max-width: 15ch;
    }
	}
}

.ci-about-history {

	.col-5 img {
		@media screen and (min-width: $bp-med) {
			padding-left: 20%;
		}
	}

}