.ci-accountability {
	color:$grey;

	.cols-6-6 {
		align-items:center;
	}

	.cols-6-6 .text-wrap {
		h2 {
			margin-bottom: 32px;
		}
	}

}

.ci-accountability-financials {
	header {
		margin-bottom: 120px;
	}

	text-align: center;

	.pie-chart {
		padding:20px 8%;
	}

	.ci-accountability-financials--legend {
		margin-bottom: 60px;
	}

	.narrow {
		max-width: 41ch;
    margin: 0 auto;
	}

	@media screen and (min-width: $bp-med) {
		
		text-align: left;

		.cols {
	    flex-direction: row-reverse;
		}
	 	.col-6:last-child {
	    padding-right: 8%;
		}		

		.ci-accountability-financials--legend {
			margin-bottom: 0;
		}
	}

	@media screen and (min-width: $bp-med-2) {



		.col-6:first-child {
	    display: flex;
	    align-items: center;
		}

		.ci-accountability-financials--legend {
			padding-left:8%;
		}

		.pie-chart {
			padding:0;
			width: 50%;
		}

	}

	strong, b {
		@include numberfont();
		font-size: 1.375em;
		color: $blue;
	}

	circle {
	  fill: transparent;
	  stroke: $yellow;
	  stroke-width: 32;
	  stroke-dasharray: 100 100;
	  transition: stroke-dasharray .3s ease;

	  &.blue {
	  	stroke: $blue;
	  	stroke-dasharray: 86.6 100;
	  }
	  &.green {
	  	stroke: $green;
	  	stroke-dasharray: 8.8 100;
	  	stroke-dashoffset: -86.6;
	  }
	}

	svg {
	  margin: 0 auto;
	  transform: rotate(-90deg);
	  background: $yellow;
	  border-radius: 50%;
	  display: block;
	}

	.ci-accountability-financials--legend h3 {
		color:$grey-dark-2;
	}

	li {
    line-height: 2.2;
		
		&:before {
	    content: '';
	    width: 1.5em;
	    height: 1.5em;
	    background: $yellow;
	    display: inline-block;
	    border-radius: 50%;
	    margin-right: .5em;
	    position: relative;
	    top: .35em;
		}

		&.blue-dot:before {
			background: $blue;
		}

		&.green-dot:before {
			background: $green;
		}

	}
}
.ci-accountability-donors {

	.col-6 {
		@media screen and (min-width: $bp-med) {
			padding:0 5%;
		}

		img {
			width:auto;
		}
	}

	.icon-pair {
		display:flex;
		align-items: center;
		margin: 60px 0;

		p {
			margin-bottom:0;
		}
	}

	.icon {
		width:80px;
		min-width: 80px;
    text-align: center;
	}

	.text {
		margin-left:1em;
	}


}
.ci-accountability-forms {
	.inner {	
		padding-bottom: 0;
	}

	h2 {
		color:$grey-dark-2;
	}

	.col-6 {
		@media screen and (min-width: $bp-med) {
			padding:0 5%;
		}
	}
}
.ci-accountability-more-info {

	h2 {
		color:$grey-dark-2;
	}

	.inner > * {
		@media screen and (min-width: $bp-med) {
			padding:0 5%;
		}
	}

}