<p class="pl-label">Global Footer</p>

<footer class="ci-new-styles" id="footer">
    <section class="ci-prefooter">
        <div class="inner">
            <div class="ci-prefooter__text">
                <h2>Children Incorporated is proud to be 100% trustworthy.</h2>
                <p>Children Incorporated is a qualified exempt organization under Section 501(c)(3) of the Internal Revenue Code. Tax ID # 54-0761510</p>
            </div>
            <div class="ci-prefooter__logos">
                <div class="cred charity-navigator">
                    <a href="https://www.charitynavigator.org/index.cfm?bay=search.summary&amp;orgid=3478"><img alt="Charity Navigator Four Star Charity" src="http://childreninc.staging.wpengine.com/wp-content/themes/children_theme/images/Charity-Navigator.jpg"></a>
                </div>
                <div class="cred">
                    <a href="http://www.guidestar.org/profile/54-0761510"><img alt="Guide Star Gold" src="http://childreninc.staging.wpengine.com/wp-content/themes/children_theme/images/guidedstar.png"></a>
                </div>
                <div class="cred bbb">
                    <a href="http://charityreports.bbb.org/national/child-sponsorship/children-incorporated-in-richmond-va-472"><img alt="Better Business Bureau" src="http://childreninc.staging.wpengine.com/wp-content/themes/children_theme/images/bbb.jpg"></a>
                </div>
                <div class="cred">
                    <a href="https://www.charitywatch.org/ratings-and-metrics/children-incorporated/169"><img alt="Charity Watch" src="http://childreninc.staging.wpengine.com/wp-content/themes/children_theme/images/charitywatch.jpeg"></a>
                </div>
                <div class="AuthorizeNetSeal">
                    <script language="javascript" type="text/javascript">
                    var ANS_customer_id="187de39d-6f3b-4dfd-b146-9c0d706a5094";
                    </script> 
                    <script language="javascript" src="//verify.authorize.net/anetseal/seal.js" type="text/javascript">
                    </script>
                    <style type="text/css">
                    div.AuthorizeNetSeal{text-align:center;margin:0;padding:0;width:90px;font:normal 9px arial,helvetica,san-serif;line-height:10px;}
                    div.AuthorizeNetSeal a{text-decoration:none;color:black;}
                    div.AuthorizeNetSeal a:visited{color:black;}
                    div.AuthorizeNetSeal a:active{color:black;}
                    div.AuthorizeNetSeal a:hover{text-decoration:underline;color:black;}
                    div.AuthorizeNetSeal a img{border:0px;margin:0px;text-decoration:none;}
                    </style><a href="https://verify.authorize.net/anetseal/?pid=187de39d-6f3b-4dfd-b146-9c0d706a5094&amp;rurl=http%3A//childreninc.staging.wpengine.com/" onclick="window.open('https://verify.authorize.net/anetseal/?pid=187de39d-6f3b-4dfd-b146-9c0d706a5094&amp;rurl=http%3A//childreninc.staging.wpengine.com/','AuthorizeNetVerification','width=600,height=430,dependent=yes,resizable=yes,scrollbars=yes,menubar=no,toolbar=no,status=no,directories=no,location=yes'); return false;" onmouseout="window.status=''; return true;" onmouseover="window.status='http://www.authorize.net/'; return true;" target="_blank"><img alt="Authorize.Net Merchant - Click to Verify" border="0" height="72" src="https://verify.authorize.net/anetseal/images/secure90x72.gif" width="90"></a> <a href="http://www.authorize.net/" id="AuthorizeNetText" target="_blank">Credit Card Processing</a>
                </div>
            </div>
        </div>
    </section>
    <section class="ci-subfooter">
        <div class="inner">
            <div class="ci-subfooter__logo">
                <a href="http://childreninc.staging.wpengine.com/"><img alt="Children Incorporated" src="http://childreninc.staging.wpengine.com/wp-content/themes/children_theme/images/logo.gif"></a>
            </div><!-- .logo -->
            <div class="ci-subfooter__links">
                <nav class="ci-subfooter__nav">
                    <ul class="menu menu-column dot-separated-list" id="menu-footer-left-menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6526" id="menu-item-6526"><a href="http://childreninc.staging.wpengine.com/accountability/">Accountability</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6130" id="menu-item-6130">
                            <a href="http://childreninc.staging.wpengine.com/meet-the-team/">Meet our Staff</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6127" id="menu-item-6127"><a href="http://childreninc.staging.wpengine.com/contact-us/">Contact Us</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6128" id="menu-item-6128"><a href="http://childreninc.staging.wpengine.com/shop/">Shop</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6129" id="menu-item-6129"><a href="http://childreninc.staging.wpengine.com/events/">Events</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6131" id="menu-item-6131"><a href="http://childreninc.staging.wpengine.com/f-a-q/">FAQs</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1156 current_page_item menu-item-6438" id="menu-item-6438"><a href="http://childreninc.staging.wpengine.com/">Home</a></li>
                    </ul>
                </nav>
                <div class="ci-subfooter__social">
                    <a class="fb" href="https://www.facebook.com/childreninc" target="_blank" title="Our Facebook"><svg height="44" viewbox="0 0 43 44" width="43" xmlns="http://www.w3.org/2000/svg">
                    <path d="M42.8956835,22.4074074 C42.8956835,34.3331688 33.2925631,44 21.4471526,44 C9.60174222,44 0,34.3331688 0,22.4074074 C0,10.481646 9.60174222,0.814814815 21.4471526,0.814814815 C33.2925631,0.814814815 42.8956835,10.481646 42.8956835,22.4074074 Z M31.0588155,11.4074074 L12.6462205,11.4074074 C11.4782992,11.4074074 10.5215827,12.3352412 10.5215827,13.4698649 L10.5215827,31.3449499 C10.5215827,32.4795736 11.4782992,33.4074074 12.6462205,33.4074074 L21.852518,33.4074074 L21.852518,23.7821523 L19.0201338,23.7821523 L19.0201338,21.0326625 L21.852518,21.0326625 L21.852518,19.6572373 C21.852518,17.385269 23.760356,15.5323224 26.1017935,15.5323224 L28.9341777,15.5323224 L28.9341777,18.2818122 L26.1017935,18.2818122 C25.3227131,18.2818122 24.6849021,18.9008215 24.6849021,19.6572373 L24.6849021,21.0326625 L28.9341777,21.0326625 L28.2264313,23.7821523 L24.6849021,23.7821523 L24.6849021,33.4074074 L31.0588155,33.4074074 C32.2267368,33.4074074 33.1834532,32.4795736 33.1834532,31.3449499 L33.1834532,13.4698649 C33.1834532,12.3352412 32.2267368,11.4074074 31.0588155,11.4074074 Z" fill="#4F8BCA" fill-rule="evenodd"></path></svg></a> <a class="tw" href="https://twitter.com/childreninc" target="_blank" title="Our Twitter"><svg height="44" viewbox="0 0 43 44" width="43" xmlns="http://www.w3.org/2000/svg">
                    <path d="M101.978417,22.4074074 C101.978417,34.3331688 92.3752969,44 80.5298865,44 C68.684476,44 59.0827338,34.3331688 59.0827338,22.4074074 C59.0827338,10.481646 68.684476,0.814814815 80.5298865,0.814814815 C92.3752969,0.814814815 101.978417,10.481646 101.978417,22.4074074 Z M93.8848921,15.3482346 C92.9921937,15.7433923 92.0311417,16.0068308 91.0263434,16.1249707 C92.055749,15.5139021 92.8431828,14.5456977 93.2177607,13.3928148 C92.2553416,13.9563559 91.1876579,14.3705247 90.0557219,14.5918673 C89.1452516,13.6318105 87.8506339,13.037037 86.4193089,13.037037 C83.6687589,13.037037 81.4404307,15.2463898 81.4404307,17.9717561 C81.4404307,18.3560504 81.4828099,18.7321971 81.5689355,19.0947645 C77.4294398,18.8870012 73.75885,16.9234338 71.3035877,13.934629 C70.8770611,14.6624797 70.629621,15.5139021 70.629621,16.4169258 C70.629621,18.1279181 71.5059145,19.6406525 72.8429114,20.5246652 C72.0267691,20.5002225 71.2598414,20.274806 70.5858746,19.9095227 L70.5858746,19.9706296 C70.5858746,22.363303 72.3015507,24.3608186 74.5818277,24.8130094 C74.1648706,24.9257176 73.7233061,24.9868245 73.268071,24.9868245 C72.9468089,24.9868245 72.6364835,24.9542341 72.3288921,24.898559 C72.9645809,26.8580526 74.8032934,28.2865953 76.98104,28.3286912 C75.2735664,29.6540312 73.1299967,30.4443467 70.7936697,30.4443467 C70.3903833,30.4443467 69.9966664,30.419904 69.6043165,30.3737343 C71.8135058,31.7778344 74.4300826,32.5925926 77.2407838,32.5925926 C86.4001699,32.5925926 91.4132249,25.0669424 91.4132249,18.5420868 C91.4132249,18.324818 91.4091237,18.1143388 91.3995542,17.9025016 C92.3715428,17.2113151 93.2163936,16.3408817 93.883525,15.3495925 L93.8848921,15.3482346 Z" fill="#4F8BCA" fill-rule="evenodd" transform="translate(-59)"></path></svg></a> <a class="ig" href="https://www.instagram.com/childrenincorporated/" target="_blank" title="Our Instagram"><svg height="44" viewbox="0 0 44 44" width="44" xmlns="http://www.w3.org/2000/svg">
                    <path d="M161.870504,22.4074074 C161.870504,34.3331688 152.267383,44 140.421973,44 C128.576562,44 118.97482,34.3331688 118.97482,22.4074074 C118.97482,10.481646 128.576562,0.814814815 140.421973,0.814814815 C152.267383,0.814814815 161.870504,10.481646 161.870504,22.4074074 Z M148.642254,13.037037 L132.20307,13.037037 C131.159757,13.037037 130.305755,13.8626587 130.305755,14.8702431 L130.305755,30.7593866 C130.305755,31.7683288 131.159757,32.5925926 132.20307,32.5925926 L148.642254,32.5925926 C149.685567,32.5925926 150.539568,31.7683288 150.539568,30.7593866 L150.539568,14.8702431 C150.539568,13.8626587 149.685567,13.037037 148.642254,13.037037 Z M144.216589,16.0923804 C144.216589,15.7569716 144.501257,15.4813117 144.849028,15.4813117 L147.377378,15.4813117 C147.725149,15.4813117 148.009816,15.7569716 148.009816,16.0923804 L148.009816,18.5366551 C148.009816,18.8734219 147.725149,19.1477238 147.377378,19.1477238 L144.849028,19.1477238 C144.501257,19.1477238 144.216589,18.8734219 144.216589,18.5366551 L144.216589,16.0923804 Z M140.421961,19.1477238 C142.517,19.1477238 144.216589,20.7908196 144.216589,22.8154938 C144.216589,24.8388101 142.517,26.4819058 140.421961,26.4819058 C138.328324,26.4819058 136.628734,24.8388101 136.628734,22.8154938 C136.628734,20.7908196 138.328324,19.1477238 140.421961,19.1477238 Z M148.009816,29.5372492 C148.009816,29.872658 147.725149,30.1483179 147.377378,30.1483179 L133.467946,30.1483179 C133.120175,30.1483179 132.835508,29.872658 132.835508,29.5372492 L132.835508,21.5919985 L134.226591,21.5919985 C134.142453,21.9857983 134.100384,22.3945354 134.100384,22.8154938 C134.100384,26.1913087 136.928827,28.9261805 140.421961,28.9261805 C143.916497,28.9261805 146.74494,26.1913087 146.74494,22.8154938 C146.74494,22.3945354 146.702871,21.9857983 146.618732,21.5919985 L148.009816,21.5919985 L148.009816,29.5372492 Z" fill="#4F8BCA" fill-rule="evenodd" transform="translate(-118)"></path></svg></a> <a class="yt" href="https://www.youtube.com/channel/UCIc0XfH2lIWsLlNX9nRs0aA"><svg height="44" viewbox="0 0 44 44" width="44" xmlns="http://www.w3.org/2000/svg">
                    <path d="M203.062466,43.4132875 C191.257691,43.4132875 181.688888,33.8515375 181.688888,22.0554125 C181.688888,10.2592875 191.257691,0.6975375 203.062466,0.6975375 C214.86724,0.6975375 224.437417,10.2592875 224.437417,22.0554125 C224.437417,33.8515375 214.86724,43.4132875 203.062466,43.4132875 Z M200.6995,8.28910322 C200.702156,8.27674786 200.703485,8.26713812 200.704813,8.26301967 L200.719424,8.15319418 L200.051276,8.14907572 C199.448216,8.14633008 199.263578,8.14907572 199.247638,8.16554955 C199.239668,8.17241364 199.031121,8.98924073 198.65919,10.4677664 C198.482522,11.1733952 198.33375,11.7362508 198.328436,11.719777 C198.323123,11.7033032 198.111919,10.8974586 197.85688,9.93099432 C197.60317,8.96315718 197.390638,8.16692236 197.383996,8.16005827 C197.374698,8.15182136 196.567075,8.1477029 195.910882,8.15319418 C195.816571,8.154567 195.763437,7.96237239 196.758354,11.2241895 C196.895172,11.6758468 197.102391,12.3155803 197.215299,12.6450568 C197.346803,13.0253275 197.441114,13.3191107 197.504874,13.5648453 C197.61911,14.0302308 197.623095,14.3226412 197.597857,14.664473 C197.569962,15.0584719 197.565977,17.8425482 197.593872,17.889224 C197.615125,17.9249173 198.879692,17.9413911 199.00057,17.9070706 C199.019166,17.9015794 199.031121,17.8837327 199.040419,17.7780257 C199.069643,17.6874196 199.073628,17.3277412 199.073628,15.8327417 L199.073628,13.9231509 L199.154656,13.6595698 C199.207789,13.4865946 199.340621,13.0335645 199.450872,12.6519209 C199.559795,12.2702773 199.692628,11.8145015 199.745761,11.6374079 C200.22263,10.0325829 200.678246,8.45384146 200.690201,8.36323543 L200.700828,8.29047604 L200.6995,8.28910322 Z M208.170399,10.6115653 L208.170399,10.7104942 L208.152994,10.7104942 L208.144291,13.4235862 L208.135588,16.0553667 L207.910768,16.2694868 C207.656939,16.5093556 207.455326,16.6015086 207.271119,16.5581425 C207.070956,16.5107108 207.076758,16.5838911 207.060803,13.4737282 L207.044848,10.6102101 L205.592945,10.6102101 L205.592945,10.709139 L205.57554,10.709139 L205.57554,13.8152363 C205.57554,17.1435849 205.57554,17.1422297 205.756846,17.4756066 C205.900441,17.741224 206.112207,17.8713224 206.471919,17.9160437 C206.944767,17.9743169 207.456777,17.7737486 207.931074,17.3441531 L208.137039,17.1571368 L208.137039,17.4796722 C208.137039,17.7588415 208.145741,17.804918 208.199408,17.8184699 C208.289336,17.8415082 209.388779,17.8428634 209.506266,17.8198251 L209.604897,17.8008524 L209.604897,17.7046339 L209.622302,17.7019235 L209.622302,10.5925926 L208.17185,10.6102101 L208.170399,10.6115653 Z M204.699703,12.0869103 C204.56532,11.5430433 204.314944,11.1760001 203.900479,10.9241602 C203.249784,10.5276464 202.507142,10.48478 201.819668,10.8062777 C201.317501,11.0407031 200.993568,11.4291795 200.82665,11.999838 C200.806846,12.0681563 200.792701,12.1257579 200.781384,12.2101511 C200.740362,12.4110871 200.734704,12.7111517 200.723388,14.1110063 C200.706413,16.2677201 200.73329,16.5235787 201.01903,17.0138627 C201.299112,17.4947697 201.880494,17.8470776 202.514215,17.9194146 C202.703765,17.9408478 203.091353,17.9073585 203.313439,17.8484172 C203.818435,17.7157994 204.302213,17.3393792 204.517225,16.9107155 C204.609171,16.7258544 204.665754,16.5972553 204.698288,16.3614903 C204.760529,16.0413322 204.766187,15.5215775 204.766187,14.1994182 C204.766187,12.5115552 204.760529,12.3280336 204.701118,12.0855707 L204.699703,12.0869103 Z M203.084281,16.4833915 C202.965458,16.5691242 202.757518,16.6052927 202.589186,16.5718034 C202.459047,16.5463515 202.283642,16.3534528 202.229889,16.1779687 C202.161991,15.9582786 202.157747,12.9120877 202.215744,12.3159774 C202.310519,12.0172524 202.57787,11.8605223 202.870683,11.9355384 C203.098426,11.9931401 203.21442,12.1284371 203.280904,12.4097476 C203.330413,12.6200607 203.336072,12.8812776 203.324755,14.4150896 C203.319097,15.4331656 203.314853,15.9301475 203.279489,16.1980623 C203.244125,16.365509 203.1833,16.4110545 203.084281,16.4833915 Z M214.360774,24.7634643 C214.227701,23.2035795 214.120965,22.6980362 213.791054,22.0478589 C213.353021,21.1868133 212.720924,20.7339871 211.819907,20.6339598 C211.124045,20.5569118 208.504166,20.4474225 206.081124,20.3947054 C201.883773,20.3041402 194.983371,20.4798638 194.101761,20.6988424 C193.69561,20.8002214 193.389265,20.9732415 193.07183,21.280082 C192.514586,21.8194182 192.181903,22.592602 192.050215,23.6631643 C191.745256,26.1070739 191.738325,29.0592303 192.032195,31.5923535 C192.158337,32.6818398 192.417553,33.3887893 192.905488,33.9713807 C193.210448,34.336345 193.73581,34.6445372 194.204338,34.7378059 C194.534249,34.8026884 196.182416,34.8919019 198.584665,34.9757086 C198.9423,34.9892258 199.88906,35.0095016 200.688886,35.0230188 C202.35646,35.0514049 205.422689,35.0351843 207.17482,34.9878741 C208.354458,34.9554328 210.504423,34.8702744 210.906415,34.8405366 C211.018695,34.8324263 211.280683,34.8148539 211.48861,34.8040401 C212.184472,34.766192 212.626663,34.6242614 213.042517,34.3066072 C213.580355,33.8943326 213.996209,33.134666 214.172254,32.2425308 C214.338595,31.3990576 214.450876,29.8972967 214.473054,28.1914261 C214.491075,26.7653616 214.466124,25.9975846 214.360774,24.7621126 L214.360774,24.7634643 Z M197.647608,24.1984454 L196.868575,24.2079074 L196.833921,32.3020065 L196.157465,32.3114685 C195.634876,32.3182271 195.475465,32.3101168 195.464375,32.2776755 C195.454672,32.2546963 195.443583,30.4298744 195.439424,28.2225157 L195.431107,24.2079074 L193.907696,24.1889833 L193.907696,22.9251252 L198.408621,22.9413458 L198.428027,24.1889833 L197.647608,24.1984454 Z M202.429927,28.8389 L202.429927,32.3195789 L201.197614,32.3195789 L201.197614,31.951911 C201.197614,31.6761602 201.18791,31.5855949 201.153256,31.5855949 C201.129691,31.5855949 201.018797,31.6761602 200.906516,31.7870012 C200.662548,32.0289591 200.374223,32.222255 200.127483,32.3114685 C199.615983,32.4980059 199.132206,32.3885166 198.925666,32.0424763 C198.737145,31.7275255 198.734373,31.6558844 198.734373,28.3712049 L198.734373,25.3555176 L199.9653,25.3555176 L199.975003,28.1954813 C199.983321,30.986783 199.984707,31.0381483 200.054016,31.1516928 C200.145504,31.3017337 200.284121,31.3422853 200.504524,31.2828097 C200.633439,31.2490167 200.722154,31.1868375 200.932853,30.9840795 L201.197614,30.7272528 L201.197614,25.3555176 L202.429927,25.3555176 L202.429927,28.8361965 L202.429927,28.8389 Z M207.235811,31.8221459 C207.127689,32.0573452 206.885108,32.2884893 206.686884,32.3452615 C206.169839,32.492599 205.753986,32.3722959 205.274368,31.932987 C205.126046,31.7964632 204.987428,31.6869739 204.966636,31.6869739 C204.941684,31.6869739 204.927823,31.7924081 204.927823,32.0032764 L204.927823,32.3195789 L203.695509,32.3195789 L203.695509,22.9251252 L204.927823,22.9251252 L204.927823,24.4566239 C204.927823,25.3000971 204.938912,25.9894743 204.952774,25.9894743 C204.968022,25.9894743 205.096937,25.8786333 205.242485,25.7421095 C205.575168,25.4298622 205.853791,25.2919868 206.207266,25.2663041 C206.836592,25.2203456 207.212246,25.5366481 207.384133,26.2571149 C207.438194,26.4815004 207.442352,26.7383272 207.442352,28.8213276 C207.442352,31.3598577 207.442352,31.3706715 207.234425,31.8221459 L207.235811,31.8221459 Z M205.989928,27.1494394 C205.884712,26.9704822 205.690468,26.8823802 205.465468,26.8892632 C205.289029,26.8947695 205.094784,26.9580929 204.907014,27.0792331 L204.766187,27.1700883 L204.766187,31.4967232 L204.907014,31.5862018 C205.222662,31.7926909 205.570683,31.8353653 205.810252,31.6990825 C205.905755,31.6440187 205.967266,31.5710593 206.015827,31.4526722 C206.077338,31.2998702 206.083813,31.1030173 206.075719,29.2831601 C206.067626,27.3862136 206.06277,27.2733329 205.989928,27.1494394 Z M212.449232,30.4285226 C212.436757,30.6894046 212.404875,30.9894864 212.375765,31.0949206 C212.205265,31.7126566 211.749212,32.1519656 211.08939,32.3303926 C210.202236,32.5723505 209.224979,32.1776483 208.835463,31.4166299 C208.616446,30.9908381 208.608129,30.9056798 208.608129,28.8213276 C208.608129,27.1235673 208.613674,26.9140508 208.670507,26.6815549 C208.828532,26.0273225 209.219434,25.6028824 209.883414,25.3663314 C210.076093,25.2987454 210.277089,25.2636007 210.478085,25.2595455 C211.19474,25.2446766 211.904464,25.619103 212.202493,26.2300805 C212.403489,26.642355 212.42844,26.8194304 212.449232,27.9792061 L212.467253,29.0213822 L209.840443,29.0376028 L209.830739,29.7377937 C209.816878,30.7245493 209.8848,31.0286863 210.159264,31.2071133 C210.38937,31.358506 210.742846,31.3463405 210.935524,31.1827824 C211.115728,31.0286863 211.167016,30.8624247 211.185037,30.378509 L211.200285,29.9540689 L212.470025,29.9540689 L212.449232,30.4285226 Z M210.442947,28.5185185 L211.2264,28.5185185 L211.21345,27.9438182 C211.202119,27.4176657 211.192407,27.3586211 211.104997,27.21429 C210.967407,26.9899207 210.765069,26.8888889 210.444565,26.8888889 C210.057695,26.8888889 209.81327,27.0410926 209.698342,27.3507485 C209.648163,27.4819586 209.597983,28.3886205 209.635213,28.4673466 C209.654637,28.5106459 209.767947,28.5185185 210.442947,28.5185185 Z" fill="#4F8BCA" fill-rule="evenodd" transform="translate(-181)"></path></svg></a>
                </div>
                <div class="ci-subfooter__contact">
                    <p>
                        PO Box 72848 North Chesterfield, VA 23235<br>
                        (800) 538-5381<br>
                        hello@childrenincorporated.org
                    </p>
                </div>
            </div>
            <div class="ci-subfooter__buttons">
                <ul class="menu" id="menu-footer-right-menu">
                    <li class="buttonwrap menu-item menu-item-type-post_type menu-item-object-page menu-item-6047" id="menu-item-6047">
                        <a href="http://childreninc.staging.wpengine.com/donate/">Donate</a>
                    </li>
                    <li class="buttonwrap blue menu-item menu-item-type-custom menu-item-object-custom menu-item-6048" id="menu-item-6048">
                        <a href="https://dms.childreninc.staging.wpengine.com/CI/Donor/CISponsorChild.aspx">Sponsor a Child</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</footer>

<p class="pl-label">Old Footer</p>

<footer id="footer">
    <span class="top"></span>
    <div class="inner">
        <div class="footer-logo">
            <a href="https://childrenincorporated.org/"><img alt=
            "Children Incorporated" src=
            "https://childrenincorporated.org/wp-content/themes/children_theme/images/logo.gif"></a>
        </div><!-- .logo -->
        <nav class="footer-nav">
                <ul class="menu menu-column">
                    <li>
                        <a href=
                        "https://childrenincorporated.org/wont-you-join-us-in-our-efforts/">
                        Donate</a>
                    </li>
                    <li>
                        <a href="https://childrenincorporated.org/">Home</a>
                    </li>
                    <li>
                        <a href=
                        "https://childrenincorporated.org/what-sponsorship-does/">
                        What Sponsorship Does</a>
                    </li>
                    <li>
                        <a href=
                        "https://childrenincorporated.org/our-work-2/">Our
                        Work</a>
                    </li>
                </ul>
                <ul class="menu menu-column">
                    <li>
                        <a href=
                        "https://childrenincorporated.org/shop/">Shop</a>
                    </li>
                    <li>
                        <a href=
                        "https://childrenincorporated.org/events/">Events</a>
                    </li>
                    <li>
                        <a href=
                        "https://childrenincorporated.org/meet-the-team/">Team</a>
                    </li>
                    <li>
                        <a href=
                        "https://childrenincorporated.org/about/">About</a>
                    </li>
                    <li>
                        <a href=
                        "https://childrenincorporated.org/f-a-q/">F.A.Q.</a>
                    </li>
                    <li>
                        <a href=
                        "https://childrenincorporated.org/contact-us/">Contact
                        Us</a>
                    </li>
                </ul>
        </nav>
        <div class="footer-buttons">
            <div class="badges">
                <!-- (c) 2005, 2014. Authorize.Net is a registered trademark of CyberSource Corporation -->
                <div class="cred charity-navigator">
                    <a href="https://www.charitynavigator.org/index.cfm?bay=search.summary&orgid=3478">
                    <img src="https://childrenincorporated.org/wp-content/themes/children_theme/images/Charity-Navigator.jpg" alt="Charity Navigator Four Star Charity" >
                    </a>
                </div>

                <div class="cred">
                    <a href=
                    "http://www.guidestar.org/profile/54-0761510"><img alt=
                    "Guide Star Gold" src=
                    "https://childrenincorporated.org/wp-content/themes/children_theme/images/guidedstar.png"></a>
                </div>
                <div class="cred bbb">
                    <a href=
                    "http://charityreports.bbb.org//national/child-sponsorship/children-incorporated-in-richmond-va-472">
                    <img alt="Better Business Bureau" src=
                    "https://childrenincorporated.org/wp-content/themes/children_theme/images/bbb.jpg"></a>
                </div>
                <div class="cred">
                    <a href=
                    "https://www.charitywatch.org/ratings-and-metrics/children-incorporated/169">
                    <img alt="Charity Watch" src=
                    "https://childrenincorporated.org/wp-content/themes/children_theme/images/charitywatch.jpeg"></a>
                </div>
                <div class="AuthorizeNetSeal">
                    <script language="javascript" type="text/javascript">
                    var ANS_customer_id="187de39d-6f3b-4dfd-b146-9c0d706a5094";
                    </script>
                    <script language="javascript" src=
                    "//verify.authorize.net/anetseal/seal.js" type=
                    "text/javascript">
                    </script> <a href="http://www.authorize.net/" id=
                    "AuthorizeNetText" target="_blank">Credit Card
                    Processing</a>
                </div>
            </div>
            <div class="social">
                <a class="button" href=
                "https://childrenincorporated.org/subscribe/" target="_blank"
                title="">Subscribe</a>
                <div>
                    <a class="fb" href="https://www.facebook.com/childreninc"
                    target="_blank" title="">Facebook</a> <a class="tw" href=
                    "https://twitter.com/childreninc" target="_blank" title=
                    "">Twitter</a> <a class="ig" href=
                    "https://www.instagram.com/childrenincorporated/" target=
                    "_blank" title="">Instagram</a>
                </div>
            </div>
        </div>
        <div class="clear">
            <div class="footer-subfooter">
                <span>© 2016 Children Inc.</span> | <a href=
                "https://childrenincorporated.org/privacy-policy/">Privacy
                Policy</a>
            </div>
        </div>
    </div>
</footer>