.dms-donate-fund {

	.inner {
		border-bottom: 1px solid $grey-med;
		max-width: 1186px;
		width: 100%;
	}

	&:last-child {
		.inner {
			border-bottom: none;;
		}
	}

	.button {
		margin-top: 0;
		vertical-align: middle;
	}
}

.dms-donate-featured-fund {
	background-color: $blue;

	.dms-donate-fund-title {
		color: $white;
		font-size: 2.5em;
	}

	.dms-donate-fund-form {
		border-color: $white;
	}

	.dms-donate-fund-input {
		border-color: $white;
	}

	.dms-donate-fund-form-helper {
		color: $white;
	}

	.dms-donate-fund-desc {
		color: $white;
	}

	.button-primary-solid {
		&:hover {
			color: $white;
			background-color: $yellow;
			border-color: $yellow;
		}
	}
}

.dms-donate-fund-title {
	color: $blue;
	max-width: 500px;
	font-size: 1.875em;
	margin-bottom: 1em;
}

.dms-donate-fund-flex-wrap {
	display: flex;
	flex-direction: column;
	flex-wrap: no-wrap;

	@media screen and (min-width: $bp-med-2) {
		flex-direction: row;
	}
}

.dms-donate-fund-form-wrap {
	display: inline-block;
	flex: 0 0 0;

	@media screen and (min-width: $bp-med-2) {
		order: 2;
		flex: 0 0 377px;
		margin-left: 1em;
	}
}

.dms-donate-fund-form {
	display: inline-flex;
	position: relative;
	@include font-smoothing();
	text-rendering: optimizeLegibility;
	font-size: .825em;

	&:before {
		content: "$";
		color: $green;
		font-family: $titlefont;
		font-weight: bold;
		font-size: 1.5em;
		position: absolute;
		top: 1em;
    left: .8em;
    line-height: 1.4;
	}

	@media screen and (min-width: $bp-small-2) {
		border: 1px solid $grey;
		padding: 18px 17px 22px;
		font-size: 1em;


		&:before {
			top: 1.62em;
    	left: 1.7em;
		}
	}

	@media screen and (min-width: $bp-med-2) {
		display: flex;
	}
}

.dms-donate-fund-input {
	border: 2px solid $green;
	border-right: 0;
	padding: 1em 1em 1em 1.5em;
	font-size: 20px;
	line-height: 1.3;
	font-family: $titlefont;
	width: 4em;
	height: 1.2em;
	vertical-align: middle;
	box-sizing: content-box;

	@media screen and (min-width: $bp-small-2) {
		width: 6em;
		padding: 1.2em 1.5em 1.2em 2em;
	}
}

.dms-donate-fund-form-helper {
	display: block;
	margin: 0.75em 0 2em;
	color: $grey-med;
	@include labelfont();
	font-weight:700;
	font-size: 0.875em;

}

.dms-donate-fund-desc-wrap {
	flex: 1;
}

.dms-donate-fund-desc {
	margin-bottom: 2em;
	max-width: 500px;
}