
label[for="forgot-password-email"] {
	display: block;
	margin: 20px 0;
}

.forgot-password-message {
	margin: 20px 0;
	font-style: italic;
	font-size: .9em;
}

.forgot-password-error {
	color: $error;
}