<p class="pl-label">Normal Alert</p>

<div class="ci-alert ci-alert-normal">
	We have a new look, but don’t worry– this is the same site you know.
	<button class="ci-alert-close"><img src="{{ path '/images/x.svg' }}"></button>
</div>

<p class="pl-label">Urgent Alert</p>

<div class="ci-alert ci-alert-urgent">
	There may be a problem with your account. Please update your account information or contact us at (800) 555-6789
	<button class="ci-alert-close"><img src="{{ path '/images/x.svg' }}"></button>
</div>