.d-block {
	display: block;
}

.d-inline {
	display: inline;
}

.d-inline-block {
	display: inline-block;
}

.ci-flex-row {
	display: flex;
	flex-direction: row;
}

.ci-flex-column {
	display: flex;
	flex-direction: column;
}