/* Fonts */

@font-face {
	font-family: 'halisgr bold';
	src: url('../fonts/halisgr-bold-webfont.eot');
	src: url('../fonts/halisgr-bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/halisgr-bold-webfont.woff') format('woff'),
		url('../fonts/halisgr-bold-webfont.ttf') format('truetype'),
		url('../fonts/halisgr-bold-webfont.svg#halis_grbold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'halisgr book';
	src: url('../fonts/halisgr-book-webfont.eot');
	src: url('../fonts/halisgr-book-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/halisgr-book-webfont.woff') format('woff'),
		url('../fonts/halisgr-book-webfont.ttf') format('truetype'),
		url('../fonts/halisgr-book-webfont.svg#halis_grbook') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Merriweather', Georgia, Times, 'Times New Roman', serif;
	src: url('../fonts/halisgr-book-webfont.eot');
	src: url('../fonts/halisgr-book-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/halisgr-book-webfont.woff') format('woff'),
		url('../fonts/halisgr-book-webfont.ttf') format('truetype'),
		url('../fonts/halisgr-book-webfont.svg#halis_grbook') format('svg');
	font-weight: normal;
	font-style: normal;
}