<div id="main">
    
    
        

        <header class="half-half c-block blue otr-page-header">
            <article class="entry">
                <div class="left">
                    <span class="h3 otr-subhead">On the Road</span>
                    <h1 class="h-landmark"><span>Story Series</span></h1>
                    <!-- <h1 class="h-landmark"><span>On the Road</span><span class="otr-subhead">with Children Incorporated</span></h1> -->
                </div>
    
            </article>
      </header>

      <div class="bfilter-wrap otr-bfilter-wrap">
        <div class="inner">

            <ul class="otr-filter-mobile-menu menu">
                <li>
                    <a href="#">Categories 
<svg width="17px" height="12px" viewBox="94 9 17 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <polyline id="Page-1" stroke="#FEFEFE" stroke-width="3" fill="none" points="96 11.4403338 102.710534 18.1508682 109.372753 11.4878827"></polyline>
</svg>
                    </a>
                    </li>
            </ul>

            <div class="menu-on-the-road-menu-container"><ul id="menu-on-the-road-menu" class="menu"><li id="menu-item-2561" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2561"><a href="http://localhost/childreninc-wp/category/on-the-road/on-the-road-series/">Story Series</a></li>
<li id="menu-item-2562" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2562"><a href="http://localhost/childreninc-wp/category/on-the-road/spotlight/">Spotlight</a></li>
<li id="menu-item-2651" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2651"><a href="http://localhost/childreninc-wp/category/on-the-road/my-sponsor-story/">My Sponsor Story</a></li>
<li id="menu-item-2652" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2652"><a href="http://localhost/childreninc-wp/category/on-the-road/perspective/">Perspective</a></li>
</ul></div>
                <form method="get" id="searchform" class="form-search" action="" _lpchecked="1">
                  <label for="s" class="visually-hidden">Search</label>
                  <input type="text" id="s" class="search-query" name="s" placeholder="Search">

                  <div class="t8-search-icon">
                        <svg width="27px" height="26px" viewBox="1189 11 27 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(1191.000000, 12.000000)">
                            <path d="M14.5683,2.9138 C17.7863,6.1318 17.7863,11.3498 14.5683,14.5688 C11.3503,17.7868 6.1323,17.7868 2.9133,14.5688 C-0.3047,11.3498 -0.3047,6.1318 2.9133,2.9138 C6.1323,-0.3042 11.3503,-0.3042 14.5683,2.9138 L14.5683,2.9138 Z" id="Stroke-1" stroke="#FEFEFE" stroke-width="3"></path>
                            <path d="M14.5683,14.5684 L22.5003,22.5004" id="Stroke-3" stroke="#FEFEFE" stroke-width="3"></path>
                        </g>
                        </svg>
                    </div>
                </form>

            </div>
        </div>

        
                <div class="otr-category-intro inner cf">

                
                    <div class="col-8 otr-category-img-vid">
                        <div class="video-container"><iframe width="500" height="281" src="https://www.youtube.com/embed/olnghd9OyzI?feature=oembed" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe></div>
                    </div>

                    <div class="col-3 otr-category-intro-text">
                        
                <div class="gf_browser_chrome gform_wrapper" id="gform_wrapper_1"><form method="post" enctype="multipart/form-data" id="gform_1" action="/childreninc-wp/category/on-the-road/">
                        <div class="gform_heading">
                            <span class="gform_description">Subscribe to <em>On the Road</em> and join 9,000+ others who receive weekly dispatches from the field.</span>
                        </div>
                        <div class="gform_body"><ul id="gform_fields_1" class="gform_fields top_label form_sublabel_below description_below"><li id="field_1_1" class="gfield gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible"><label class="gfield_label" for="input_1_1"><span class="gfield_required">*</span></label><div class="ginput_container ginput_container_email">
                            <input name="input_1" id="input_1_1" type="email" value="" class="medium" tabindex="1" placeholder="your email">
                        </div></li>
                            </ul></div>
        <div class="gform_footer top_label"> <input type="submit" id="gform_submit_button_1" class="gform_button button" value="Subscribe" tabindex="2" onclick="if(window[&quot;gf_submitting_1&quot;]){return false;}  if( !jQuery(&quot;#gform_1&quot;)[0].checkValidity || jQuery(&quot;#gform_1&quot;)[0].checkValidity()){window[&quot;gf_submitting_1&quot;]=true;}  " onkeypress="if( event.keyCode == 13 ){ if(window[&quot;gf_submitting_1&quot;]){return false;} if( !jQuery(&quot;#gform_1&quot;)[0].checkValidity || jQuery(&quot;#gform_1&quot;)[0].checkValidity()){window[&quot;gf_submitting_1&quot;]=true;}  jQuery(&quot;#gform_1&quot;).trigger(&quot;submit&quot;,[true]); }"> 
            <input type="hidden" class="gform_hidden" name="is_submit_1" value="1">
            <input type="hidden" class="gform_hidden" name="gform_submit" value="1">
            
            <input type="hidden" class="gform_hidden" name="gform_unique_id" value="">
            <input type="hidden" class="gform_hidden" name="state_1" value="WyJbXSIsImNkY2ZhZmM3NWViOTkyN2QwZDVlN2QwZDAzZTVlYzdhIl0=">
            <input type="hidden" class="gform_hidden" name="gform_target_page_number_1" id="gform_target_page_number_1" value="0">
            <input type="hidden" class="gform_hidden" name="gform_source_page_number_1" id="gform_source_page_number_1" value="1">
            <input type="hidden" name="gform_field_values" value="">
            
        </div>
                        </form>
                        </div><script type="text/javascript"> jQuery(document).bind('gform_post_render', function(event, formId, currentPage){if(formId == 1) {if(typeof Placeholders != 'undefined'){
                        Placeholders.enable();
                    }} } );jQuery(document).bind('gform_post_conditional_logic', function(event, formId, fields, isInit){} );</script><script type="text/javascript"> jQuery(document).ready(function(){jQuery(document).trigger('gform_post_render', [1, 1]) } ); </script>                        <div class="otr-category-intro-desc"><p><em>On the Road</em> features Children Incorporated’s work around the world. Learn more about the children and communities we serve and see how your contribution makes an impact. Subscribe today for weekly updates!</p>
</div>
                    </div>

                </div>

            
                <div class="otr-featured-post inner cf">
                    <a href="http://localhost/childreninc-wp/getting-clean-water-flowing/"><h1 class="entry-title">Getting Clean Water Flowing</h1></a>
                    <a href="http://localhost/childreninc-wp/getting-clean-water-flowing/"><div class="featured-thumb"><img width="4390" height="2664" src="http://localhost/childreninc-wp/wp-content/uploads/2017/11/DSCF9470.jpg" class="attachment-full size-full" alt="" srcset="http://localhost/childreninc-wp/wp-content/uploads/2017/11/DSCF9470.jpg 4390w, http://localhost/childreninc-wp/wp-content/uploads/2017/11/DSCF9470-500x303.jpg 500w, http://localhost/childreninc-wp/wp-content/uploads/2017/11/DSCF9470-768x466.jpg 768w, http://localhost/childreninc-wp/wp-content/uploads/2017/11/DSCF9470-1024x621.jpg 1024w, http://localhost/childreninc-wp/wp-content/uploads/2017/11/DSCF9470-676x410.jpg 676w" sizes="(max-width: 4390px) 100vw, 4390px"></div></a>
                    <div class="col-8">
                        <p class="subheading"><a href="http://localhost/childreninc-wp/getting-clean-water-flowing/"><em>Sawyer water filters help keep children in India healthy</em></a></p>
                        <div class="entry-content excerpt">
                            A few months ago, we reported on our partnership with the international nonprofit organization Wine To Water, which works to bring clean water solutions to some of the most remote parts of the world. Before Luis Bourdet, our Director of International Programs, and I left for our trip to India in August, I visited the Wine To Water headquarters in Boone, North Carolina, and took a training course on how…                      </div>

                        <footer class="entry-footer-t8 cf">
                            <p class="p-meta"><span><time class="entry-date" datetime="2017-11-29T09:43:42+00:00"> November 29, 2017</time></span><span><a href="http://localhost/childreninc-wp/category/on-the-road/spotlight/" title="View all posts in: “Spotlight”">Spotlight</a>, <a href="http://localhost/childreninc-wp/region/india/" title="View all posts in: “India”">India</a></span></p><a href="http://localhost/childreninc-wp/getting-clean-water-flowing/" class="ci-button ci-button--secondary">Read More</a>                      </footer>

                    </div>

                    <div class="col-3 otr-more-from-category">
                        <h3>More from On the Road</h3><ul><li><a href="http://localhost/childreninc-wp/school-markets-gardens-answer-hunger-issues-washington-d-c/">The Answer to Hunger Issues in Washington, D.C.</a></li><li><a href="http://localhost/childreninc-wp/together-were-feeding-the-hungry/">Together, We’re Feeding the Hungry</a></li><li><a href="http://localhost/childreninc-wp/students-new-orleans-love-sponsors/">Students in New Orleans Love Their Sponsors</a></li><li><a href="http://localhost/childreninc-wp/kids-new-mexico-cant-thank-enough/">Kids in New Mexico Can’t Thank You Enough</a></li></ul>                   </div>

                </div>

            
            
                
                <div class="otr-featured-regions inner cf">

                    
                    
                    <div class="otr-featured-region">
                                                    <header class="otr-featured-region-header">
                                <a href="http://localhost/childreninc-wp/region/kentucky/"><img class="otr-featured-region-icon" src="http://localhost/childreninc-wp/wp-content/uploads/2017/04/Kentucky.svg" alt=""></a>
                            </header>
                                                
                            <div class="otr-featured-region-posts">

                                                            <div class="otr-featured-region-post">
                                    <a href="http://localhost/childreninc-wp/back-school-fund-action/"><img width="500" height="368" src="http://localhost/childreninc-wp/wp-content/uploads/2018/01/BacktoSchool1-e1515621835864-500x368.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://localhost/childreninc-wp/wp-content/uploads/2018/01/BacktoSchool1-e1515621835864-500x368.jpg 500w, http://localhost/childreninc-wp/wp-content/uploads/2018/01/BacktoSchool1-e1515621835864.jpg 583w" sizes="(max-width: 500px) 100vw, 500px"></a>
                                    <a href="http://localhost/childreninc-wp/back-school-fund-action/"><h3>Our Back to School Fund in Action</h3></a>
                                    <div><p>Unfortunately, it is not uncommon for many children who attend our affiliated schools in Eastern Kentucky to not have proper clothes and shoes, let alone school supplies, throughout the school year. In a part of the U.S. where poverty is[…]
</p></div>
                                    <a href="http://localhost/childreninc-wp/back-school-fund-action/" class="ci-button ci-button--secondary__alt">Read More</a>                                </div>

                                                            <div class="otr-featured-region-post">
                                    <a href="http://localhost/childreninc-wp/big-school-making-big-impact/"><img width="500" height="375" src="http://localhost/childreninc-wp/wp-content/uploads/2018/01/Crossroads-Elem__Kennedy-W-2B-Enrolled_Gloria_Katlyn-C-500x375.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://localhost/childreninc-wp/wp-content/uploads/2018/01/Crossroads-Elem__Kennedy-W-2B-Enrolled_Gloria_Katlyn-C-500x375.jpg 500w, http://localhost/childreninc-wp/wp-content/uploads/2018/01/Crossroads-Elem__Kennedy-W-2B-Enrolled_Gloria_Katlyn-C-768x576.jpg 768w, http://localhost/childreninc-wp/wp-content/uploads/2018/01/Crossroads-Elem__Kennedy-W-2B-Enrolled_Gloria_Katlyn-C-1024x768.jpg 1024w, http://localhost/childreninc-wp/wp-content/uploads/2018/01/Crossroads-Elem__Kennedy-W-2B-Enrolled_Gloria_Katlyn-C-676x507.jpg 676w" sizes="(max-width: 500px) 100vw, 500px"></a>
                                    <a href="http://localhost/childreninc-wp/big-school-making-big-impact/"><h3>A Big School Making a Big Impact</h3></a>
                                    <div><p>Located in the town of Owingsville in Kentucky’s Bath County, Crossroads Elementary School is a consolidation of two of Children Incorporated’s former affiliated schools – Bethel and Salt Lick Elementary Schools. When the two older schools were shut down, one[…]
</p></div>
                                    <a href="http://localhost/childreninc-wp/big-school-making-big-impact/" class="ci-button ci-button--secondary__alt">Read More</a>                               </div>

                                                            <div class="otr-featured-region-post">
                                    <a href="http://localhost/childreninc-wp/history-partnerships-kentucky/"><img width="500" height="333" src="http://localhost/childreninc-wp/wp-content/uploads/2017/12/Owingsville-Elem__FRC-clothes-closet-500x333.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://localhost/childreninc-wp/wp-content/uploads/2017/12/Owingsville-Elem__FRC-clothes-closet-500x333.jpg 500w, http://localhost/childreninc-wp/wp-content/uploads/2017/12/Owingsville-Elem__FRC-clothes-closet-768x512.jpg 768w, http://localhost/childreninc-wp/wp-content/uploads/2017/12/Owingsville-Elem__FRC-clothes-closet-1024x682.jpg 1024w, http://localhost/childreninc-wp/wp-content/uploads/2017/12/Owingsville-Elem__FRC-clothes-closet-676x450.jpg 676w" sizes="(max-width: 500px) 100vw, 500px"></a>
                                    <a href="http://localhost/childreninc-wp/history-partnerships-kentucky/"><h3>The History of Our Partnerships in Kentucky</h3></a>
                                    <div><p>We couldn’t do what we do without the help of our partners. At every one of our projects, whether it is an orphanage in South Korea, a community center in Costa Rica, or a school in New Mexico, without our[…]
</p></div>
                                    <a href="http://localhost/childreninc-wp/history-partnerships-kentucky/" class="ci-button ci-button--secondary__alt">Read More</a>                              </div>

                                                    </div>
                    </div>

                    
                    
                    
                    <div class="otr-featured-region">
                                                    <header class="otr-featured-region-header">
                                <a href="http://localhost/childreninc-wp/region/india/"><img class="otr-featured-region-icon" src="http://localhost/childreninc-wp/wp-content/uploads/2017/08/India.svg" alt=""></a>
                            </header>
                                                
                            <div class="otr-featured-region-posts">

                                                            <div class="otr-featured-region-post">
                                    <a href="http://localhost/childreninc-wp/leaving-india-sri-lanka/"><img width="500" height="333" src="http://localhost/childreninc-wp/wp-content/uploads/2017/12/DSCF9799-1-500x333.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://localhost/childreninc-wp/wp-content/uploads/2017/12/DSCF9799-1-500x333.jpg 500w, http://localhost/childreninc-wp/wp-content/uploads/2017/12/DSCF9799-1-768x512.jpg 768w, http://localhost/childreninc-wp/wp-content/uploads/2017/12/DSCF9799-1-1024x683.jpg 1024w, http://localhost/childreninc-wp/wp-content/uploads/2017/12/DSCF9799-1-676x451.jpg 676w" sizes="(max-width: 500px) 100vw, 500px"></a>
                                    <a href="http://localhost/childreninc-wp/leaving-india-sri-lanka/"><h3>Leaving India and Sri Lanka</h3></a>
                                    <div><p>After spending two weeks visiting eleven of our affiliated projects in India and Sri Lanka, knowing that the St. Mary’s Girls’ Hostel in Khammam was the last home I would be seeing on my trip left me with a bittersweet[…]
</p></div>
                                    <a href="http://localhost/childreninc-wp/leaving-india-sri-lanka/" class="ci-button ci-button--secondary__alt">Read More</a>                                </div>

                                                            <div class="otr-featured-region-post">
                                    <a href="http://localhost/childreninc-wp/educating-a-nation/"><img width="500" height="333" src="http://localhost/childreninc-wp/wp-content/uploads/2017/12/DSCF9515-500x333.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://localhost/childreninc-wp/wp-content/uploads/2017/12/DSCF9515-500x333.jpg 500w, http://localhost/childreninc-wp/wp-content/uploads/2017/12/DSCF9515-768x512.jpg 768w, http://localhost/childreninc-wp/wp-content/uploads/2017/12/DSCF9515-1024x683.jpg 1024w, http://localhost/childreninc-wp/wp-content/uploads/2017/12/DSCF9515-676x451.jpg 676w" sizes="(max-width: 500px) 100vw, 500px"></a>
                                    <a href="http://localhost/childreninc-wp/educating-a-nation/"><h3>Educating a Nation</h3></a>
                                    <div><p>It is an unfortunate reality that even in modern times, girls have fewer opportunities than boys when it comes to receiving an education. Girls all over the world face discrimination within their cultures. They are typically seen as unequal to[…]
</p></div>
                                    <a href="http://localhost/childreninc-wp/educating-a-nation/" class="ci-button ci-button--secondary__alt">Read More</a>                             </div>

                                                            <div class="otr-featured-region-post">
                                    <a href="http://localhost/childreninc-wp/keeping-kids-healthy-india/"><img width="500" height="333" src="http://localhost/childreninc-wp/wp-content/uploads/2017/11/DSCF9108-500x333.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://localhost/childreninc-wp/wp-content/uploads/2017/11/DSCF9108-500x333.jpg 500w, http://localhost/childreninc-wp/wp-content/uploads/2017/11/DSCF9108-768x512.jpg 768w, http://localhost/childreninc-wp/wp-content/uploads/2017/11/DSCF9108-1024x683.jpg 1024w, http://localhost/childreninc-wp/wp-content/uploads/2017/11/DSCF9108-676x451.jpg 676w" sizes="(max-width: 500px) 100vw, 500px"></a>
                                    <a href="http://localhost/childreninc-wp/keeping-kids-healthy-india/"><h3>Keeping Kids Healthy in India</h3></a>
                                    <div><p>It is difficult to compare India to any other countries where Children Incorporated works. Although a developing country economically, India is still far behind other countries when it comes to providing support for children living in poverty. During my time[…]
</p></div>
                                    <a href="http://localhost/childreninc-wp/keeping-kids-healthy-india/" class="ci-button ci-button--secondary__alt">Read More</a>                             </div>

                                                    </div>
                    </div>

                    
                    
                    
                    <div class="otr-featured-region">
                                                    <header class="otr-featured-region-header">
                                <a href="http://localhost/childreninc-wp/region/bolivia/"><img class="otr-featured-region-icon" src="http://localhost/childreninc-wp/wp-content/uploads/2017/04/Bolivia.svg" alt=""></a>
                            </header>
                                                
                            <div class="otr-featured-region-posts">

                                                            <div class="otr-featured-region-post">
                                    <a href="http://localhost/childreninc-wp/thousand-shoes-thousand-kids/"><img width="500" height="268" src="http://localhost/childreninc-wp/wp-content/uploads/2017/11/DSCF7010-e1510223317697-500x268.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://localhost/childreninc-wp/wp-content/uploads/2017/11/DSCF7010-e1510223317697-500x268.jpg 500w, http://localhost/childreninc-wp/wp-content/uploads/2017/11/DSCF7010-e1510223317697-768x412.jpg 768w, http://localhost/childreninc-wp/wp-content/uploads/2017/11/DSCF7010-e1510223317697-1024x549.jpg 1024w, http://localhost/childreninc-wp/wp-content/uploads/2017/11/DSCF7010-e1510223317697-676x363.jpg 676w" sizes="(max-width: 500px) 100vw, 500px"></a>
                                    <a href="http://localhost/childreninc-wp/thousand-shoes-thousand-kids/"><h3>A Thousand Shoes for a Thousand Kids</h3></a>
                                    <div><p>As the end of the year approaches, I can say that the Children Incorporated staff as a whole is amazed by what we have accomplished thus far in 2017, thanks to our incredible sponsors and donors. When our President and[…]
</p></div>
                                    <a href="http://localhost/childreninc-wp/thousand-shoes-thousand-kids/" class="ci-button ci-button--secondary__alt">Read More</a>                               </div>

                                                            <div class="otr-featured-region-post">
                                    <a href="http://localhost/childreninc-wp/building-homes-and-securing-futures-in-bolivia/"><img width="500" height="375" src="http://localhost/childreninc-wp/wp-content/uploads/2017/05/IMG_0693-500x375.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://localhost/childreninc-wp/wp-content/uploads/2017/05/IMG_0693-500x375.jpg 500w, http://localhost/childreninc-wp/wp-content/uploads/2017/05/IMG_0693-768x576.jpg 768w, http://localhost/childreninc-wp/wp-content/uploads/2017/05/IMG_0693-1024x768.jpg 1024w, http://localhost/childreninc-wp/wp-content/uploads/2017/05/IMG_0693-676x507.jpg 676w" sizes="(max-width: 500px) 100vw, 500px"></a>
                                    <a href="http://localhost/childreninc-wp/building-homes-and-securing-futures-in-bolivia/"><h3>Building Homes and Securing Futures in Bolivia</h3></a>
                                    <div><p>It has been fun to reminisce about my trip to Bolivia last year now that Luis has returned from his visit there just a few weeks ago. When I caught up with him to hear updates about our projects, there[…]
</p></div>
                                    <a href="http://localhost/childreninc-wp/building-homes-and-securing-futures-in-bolivia/" class="ci-button ci-button--secondary__alt">Read More</a>                             </div>

                                                            <div class="otr-featured-region-post">
                                    <a href="http://localhost/childreninc-wp/one-year-later-returning-montero-school/"><img width="500" height="375" src="http://localhost/childreninc-wp/wp-content/uploads/2017/04/IMG_0530-500x375.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://localhost/childreninc-wp/wp-content/uploads/2017/04/IMG_0530-500x375.jpg 500w, http://localhost/childreninc-wp/wp-content/uploads/2017/04/IMG_0530-768x576.jpg 768w, http://localhost/childreninc-wp/wp-content/uploads/2017/04/IMG_0530-1024x768.jpg 1024w, http://localhost/childreninc-wp/wp-content/uploads/2017/04/IMG_0530-676x507.jpg 676w" sizes="(max-width: 500px) 100vw, 500px"></a>
                                    <a href="http://localhost/childreninc-wp/one-year-later-returning-montero-school/"><h3>One Year Later: Returning to the Montero School</h3></a>
                                    <div><p>It’s hard to believe it has already been a year since Luis and I were in Bolivia together, visiting projects in La Paz and Santa Cruz. Although Luis has been traveling to visit sites for many years now, it was[…]
</p></div>
                                    <a href="http://localhost/childreninc-wp/one-year-later-returning-montero-school/" class="ci-button ci-button--secondary__alt">Read More</a>                                </div>

                                                    </div>
                    </div>

                    
                </div>

            
            
            
                <header class="otr-category-header inner cf">
                    <h2>More from On the Road</h2>
                </header>

            
        
    
    <div id="primary" class="content-area inner">
        <div id="content" class="site-content bloglist" role="main">
        
                                        
<article id="post-6007" class="post-6007 post type-post status-publish format-standard has-post-thumbnail hentry category-on-the-road category-spotlight region-washington region-d-c">
  <div class="entry-featured">
    <a href="http://localhost/childreninc-wp/school-markets-gardens-answer-hunger-issues-washington-d-c/" class="entry-thumb" title="Permalink to: &quot;The Answer to Hunger Issues in Washington, D.C.&quot;"><img width="676" height="451" src="http://localhost/childreninc-wp/wp-content/uploads/2018/01/DSCF1894-676x451.jpg" class="attachment-half-width size-half-width wp-post-image" alt="" srcset="http://localhost/childreninc-wp/wp-content/uploads/2018/01/DSCF1894-676x451.jpg 676w, http://localhost/childreninc-wp/wp-content/uploads/2018/01/DSCF1894-500x333.jpg 500w, http://localhost/childreninc-wp/wp-content/uploads/2018/01/DSCF1894-768x512.jpg 768w, http://localhost/childreninc-wp/wp-content/uploads/2018/01/DSCF1894-1024x683.jpg 1024w" sizes="(max-width: 676px) 100vw, 676px"></a>  </div>
  <div class="entry-wrap">
    <header class="entry-header cf">
        <h1 class="entry-title"><a href="http://localhost/childreninc-wp/school-markets-gardens-answer-hunger-issues-washington-d-c/">The Answer to Hunger Issues in Washington, D.C.</a></h1>
        <p><em>School markets and gardens are helping children get healthy food</em></p>            </header>
    <div class="entry-content excerpt">
        <p>We all know intuitively that children who go to school hungry cannot possibly do their best work while they are there. Having a rumbling, empty stomach makes it almost impossible for anyone to concentrate properly. Last month, while visiting our affiliate projects in Washington, D.C., we were intrigued to learn that our schools are trying creative new ways to bring good food to their children, and to increase parental involvement. Their solution: They are starting […]</p>
    </div>
  </div>
    <footer class="entry-footer-t8">
    <p class="p-meta"><span><time class="entry-date" datetime="2018-01-11T13:23:18+00:00"> January 11, 2018</time></span><span><a href="http://localhost/childreninc-wp/category/on-the-road/spotlight/" title="View all posts in: “Spotlight”">Spotlight</a>, <a href="http://localhost/childreninc-wp/region/washington/" title="View all posts in: “Washington”">Washington</a>, <a href="http://localhost/childreninc-wp/region/d-c/" title="View all posts in: “Washington, D.C.”">Washington, D.C.</a></span></p><a href="http://localhost/childreninc-wp/school-markets-gardens-answer-hunger-issues-washington-d-c/" class="ci-button ci-button--secondary">Read More</a>   </footer>
</article>                          
<article id="post-5998" class="post-5998 post type-post status-publish format-standard has-post-thumbnail hentry category-on-the-road category-spotlight tag-child tag-child-poverty tag-children tag-children-incorporated tag-cikids tag-ciontheroad tag-education tag-kenya tag-sponsor tag-sponsor-children tag-sponsors tag-sponsorship region-kenya">
  <div class="entry-featured">
    <a href="http://localhost/childreninc-wp/together-were-feeding-the-hungry/" class="entry-thumb" title="Permalink to: &quot;Together, We’re Feeding the Hungry&quot;"><img width="676" height="451" src="http://localhost/childreninc-wp/wp-content/uploads/2018/01/DSCF1503-2-676x451.jpg" class="attachment-half-width size-half-width wp-post-image" alt="" srcset="http://localhost/childreninc-wp/wp-content/uploads/2018/01/DSCF1503-2-676x451.jpg 676w, http://localhost/childreninc-wp/wp-content/uploads/2018/01/DSCF1503-2-500x333.jpg 500w, http://localhost/childreninc-wp/wp-content/uploads/2018/01/DSCF1503-2-768x512.jpg 768w, http://localhost/childreninc-wp/wp-content/uploads/2018/01/DSCF1503-2-1024x683.jpg 1024w" sizes="(max-width: 676px) 100vw, 676px"></a>  </div>
  <div class="entry-wrap">
    <header class="entry-header cf">
        <h1 class="entry-title"><a href="http://localhost/childreninc-wp/together-were-feeding-the-hungry/">Together, We’re Feeding the Hungry</a></h1>
                    </header>
    <div class="entry-content excerpt">
        <p>Since last year, Kenya has been suffering from a disastrous drought, which has killed much livestock and caused widespread crop failure, creating food shortages throughout the country. As a result, the cost of grain has increased tremendously. 2.7 million people have been affected, including our sponsored children at the Materi Girls’ School. Thanks to our Hope In Action Fund and our wonderful donors, however, we were able to send funds to the school for the […]</p>
    </div>
  </div>
    <footer class="entry-footer-t8">
    <p class="p-meta"><span><time class="entry-date" datetime="2018-01-10T17:07:04+00:00"> January 10, 2018</time></span><span><a href="http://localhost/childreninc-wp/category/on-the-road/spotlight/" title="View all posts in: “Spotlight”">Spotlight</a>, <a href="http://localhost/childreninc-wp/region/kenya/" title="View all posts in: “Kenya”">Kenya</a></span></p><a href="http://localhost/childreninc-wp/together-were-feeding-the-hungry/" class="ci-button ci-button--secondary">Read More</a>  </footer>
</article>                          
<article id="post-5994" class="post-5994 post type-post status-publish format-standard has-post-thumbnail hentry category-on-the-road category-on-the-road-series tag-child tag-child-poverty tag-children tag-children-incorporated tag-new-orleans tag-opportunity tag-sponsor tag-sponsors tag-sponsorship region-new-orleans">
  <div class="entry-featured">
    <a href="http://localhost/childreninc-wp/students-new-orleans-love-sponsors/" class="entry-thumb" title="Permalink to: &quot;Students in New Orleans Love Their Sponsors&quot;"><img width="676" height="507" src="http://localhost/childreninc-wp/wp-content/uploads/2018/01/IMG_0274-676x507.jpg" class="attachment-half-width size-half-width wp-post-image" alt="" srcset="http://localhost/childreninc-wp/wp-content/uploads/2018/01/IMG_0274-676x507.jpg 676w, http://localhost/childreninc-wp/wp-content/uploads/2018/01/IMG_0274-500x375.jpg 500w, http://localhost/childreninc-wp/wp-content/uploads/2018/01/IMG_0274-768x576.jpg 768w, http://localhost/childreninc-wp/wp-content/uploads/2018/01/IMG_0274-1024x768.jpg 1024w" sizes="(max-width: 676px) 100vw, 676px"></a>  </div>
  <div class="entry-wrap">
    <header class="entry-header cf">
        <h1 class="entry-title"><a href="http://localhost/childreninc-wp/students-new-orleans-love-sponsors/">Students in New Orleans Love Their Sponsors</a></h1>
                    </header>
    <div class="entry-content excerpt">
        <p>Students at Schaumburg Elementary School in New Orleans, including Desiree*, love their sponsors. Desiree has a wonderful sponsor who sends her letters, pictures, and postcards from her travels that open her eyes to the world outside of her neighborhood.&nbsp;At the beginning of each school year, Desiree’s sponsor makes her a picture book so that she can see and learn about new places. We are so grateful for the investment that sponsors make in the lives […]</p>
    </div>
  </div>
    <footer class="entry-footer-t8">
    <p class="p-meta"><span><time class="entry-date" datetime="2018-01-10T16:32:58+00:00"> January 10, 2018</time></span><span><a href="http://localhost/childreninc-wp/category/on-the-road/on-the-road-series/" title="View all posts in: “Story Series”">Story Series</a>, <a href="http://localhost/childreninc-wp/region/new-orleans/" title="View all posts in: “New Orleans”">New Orleans</a></span></p><a href="http://localhost/childreninc-wp/students-new-orleans-love-sponsors/" class="ci-button ci-button--secondary">Read More</a>   </footer>
</article>                          
<article id="post-5992" class="post-5992 post type-post status-publish format-standard has-post-thumbnail hentry category-on-the-road category-on-the-road-series tag-child tag-child-poverty tag-children tag-children-incorporated tag-sponsor tag-sponsor-children tag-sponsors tag-sponsorship region-new-mexico">
  <div class="entry-featured">
    <a href="http://localhost/childreninc-wp/kids-new-mexico-cant-thank-enough/" class="entry-thumb" title="Permalink to: &quot;Kids in New Mexico Can’t Thank You Enough&quot;"><img width="676" height="507" src="http://localhost/childreninc-wp/wp-content/uploads/2018/01/IMG_1971-676x507.jpg" class="attachment-half-width size-half-width wp-post-image" alt="" srcset="http://localhost/childreninc-wp/wp-content/uploads/2018/01/IMG_1971-676x507.jpg 676w, http://localhost/childreninc-wp/wp-content/uploads/2018/01/IMG_1971-500x375.jpg 500w, http://localhost/childreninc-wp/wp-content/uploads/2018/01/IMG_1971-768x576.jpg 768w, http://localhost/childreninc-wp/wp-content/uploads/2018/01/IMG_1971-1024x768.jpg 1024w" sizes="(max-width: 676px) 100vw, 676px"></a>  </div>
  <div class="entry-wrap">
    <header class="entry-header cf">
        <h1 class="entry-title"><a href="http://localhost/childreninc-wp/kids-new-mexico-cant-thank-enough/">Kids in New Mexico Can’t Thank You Enough</a></h1>
                    </header>
    <div class="entry-content excerpt">
        <p>Navajo children enrolled in our program are so thankful for your support! Many children at our affiliated schools in New Mexico live in remote areas down dirt roads that are difficult to access, especially after rain or snow.&nbsp;As a result, these children usually live in dorms during the week at the schools they attend. Sponsorship enables them to have items such as shampoo, toothpaste, detergent, bedding, and other living essentials while they are away from […]</p>
    </div>
  </div>
    <footer class="entry-footer-t8">
    <p class="p-meta"><span><time class="entry-date" datetime="2018-01-10T16:28:51+00:00"> January 10, 2018</time></span><span><a href="http://localhost/childreninc-wp/category/on-the-road/on-the-road-series/" title="View all posts in: “Story Series”">Story Series</a>, <a href="http://localhost/childreninc-wp/region/new-mexico/" title="View all posts in: “New Mexico”">New Mexico</a></span></p><a href="http://localhost/childreninc-wp/kids-new-mexico-cant-thank-enough/" class="ci-button ci-button--secondary">Read More</a>   </footer>
</article>                          
<article id="post-5956" class="post-5956 post type-post status-publish format-standard has-post-thumbnail hentry category-on-the-road category-perspective tag-child tag-child-poverty tag-children tag-children-incorporated tag-cikids tag-ciontheroad tag-education tag-help-children tag-hope tag-on-the-road tag-opportunity tag-poverty tag-sponsor-children tag-sponsors tag-sponsorship">
  <div class="entry-featured">
    <a href="http://localhost/childreninc-wp/a-promise-for-the-new-year/" class="entry-thumb" title="Permalink to: &quot;A Promise for the New Year&quot;"><img width="676" height="451" src="http://localhost/childreninc-wp/wp-content/uploads/2017/12/DSCF7800-676x451.jpg" class="attachment-half-width size-half-width wp-post-image" alt="" srcset="http://localhost/childreninc-wp/wp-content/uploads/2017/12/DSCF7800-676x451.jpg 676w, http://localhost/childreninc-wp/wp-content/uploads/2017/12/DSCF7800-500x333.jpg 500w, http://localhost/childreninc-wp/wp-content/uploads/2017/12/DSCF7800-768x512.jpg 768w, http://localhost/childreninc-wp/wp-content/uploads/2017/12/DSCF7800-1024x683.jpg 1024w" sizes="(max-width: 676px) 100vw, 676px"></a>  </div>
  <div class="entry-wrap">
    <header class="entry-header cf">
        <h1 class="entry-title"><a href="http://localhost/childreninc-wp/a-promise-for-the-new-year/">A Promise for the New Year</a></h1>
        <p><em>Our CEO, Ron Carter, strives to do more for children in 2018</em></p>            </header>
    <div class="entry-content excerpt">
        <p>I’ve never believed in New Year’s resolutions; far too often, those things that we set out to do at the start of January fade and vanish within a couple of weeks, if they even last that long. Instead of making unrealistic and often unsustainable goals for myself, I prefer to look at the facts: what I accomplished in the past year, what I may have missed along the way, and how I might do better […]</p>
    </div>
  </div>
    <footer class="entry-footer-t8">
    <p class="p-meta"><span><time class="entry-date" datetime="2017-12-15T14:51:44+00:00"> December 15, 2017</time></span><span><a href="http://localhost/childreninc-wp/category/on-the-road/perspective/" title="View all posts in: “Perspective”">Perspective</a></span></p><a href="http://localhost/childreninc-wp/a-promise-for-the-new-year/" class="ci-button ci-button--secondary">Read More</a>   </footer>
</article>                          
<article id="post-5933" class="post-5933 post type-post status-publish format-standard has-post-thumbnail hentry category-on-the-road category-spotlight tag-child tag-child-poverty tag-children tag-children-incorporated tag-cikids tag-ciontheroad tag-costa-rica tag-education tag-on-the-road tag-opportunity tag-poverty tag-sponsor-children tag-sponsors tag-sponsorship region-costa-rica">
  <div class="entry-featured">
    <a href="http://localhost/childreninc-wp/special-gift-holidays/" class="entry-thumb" title="Permalink to: &quot;A Special Gift for the Holidays&quot;"><img width="676" height="507" src="http://localhost/childreninc-wp/wp-content/uploads/2017/12/IMG_4880-1-676x507.jpg" class="attachment-half-width size-half-width wp-post-image" alt="" srcset="http://localhost/childreninc-wp/wp-content/uploads/2017/12/IMG_4880-1-676x507.jpg 676w, http://localhost/childreninc-wp/wp-content/uploads/2017/12/IMG_4880-1-500x375.jpg 500w, http://localhost/childreninc-wp/wp-content/uploads/2017/12/IMG_4880-1-768x576.jpg 768w, http://localhost/childreninc-wp/wp-content/uploads/2017/12/IMG_4880-1-1024x768.jpg 1024w" sizes="(max-width: 676px) 100vw, 676px"></a>  </div>
  <div class="entry-wrap">
    <header class="entry-header cf">
        <h1 class="entry-title"><a href="http://localhost/childreninc-wp/special-gift-holidays/">A Special Gift for the Holidays</a></h1>
        <p><em>An interview with sponsor Bill Hafker</em></p>           </header>
    <div class="entry-content excerpt">
        <p>When we think about Christmas, we often think about giving the perfect gifts to family and friends. Gift giving comes in all forms – whether it is buying a loved one a sweater, writing a poem for them, or making them dinner – it is a meaningful way to show others that you care. For sponsors Bill and Ilene Hafker, their idea of gift giving is to help children in need, involving their friends in […]</p>
    </div>
  </div>
    <footer class="entry-footer-t8">
    <p class="p-meta"><span><time class="entry-date" datetime="2017-12-13T14:56:29+00:00"> December 13, 2017</time></span><span><a href="http://localhost/childreninc-wp/category/on-the-road/spotlight/" title="View all posts in: “Spotlight”">Spotlight</a>, <a href="http://localhost/childreninc-wp/region/costa-rica/" title="View all posts in: “Costa Rica”">Costa Rica</a></span></p><a href="http://localhost/childreninc-wp/special-gift-holidays/" class="ci-button ci-button--secondary">Read More</a> </footer>
</article>          
                <nav class="navigation paging-navigation" role="navigation">

        <div class="nav-links">

                        <div class="nav-previous"><a href="http://localhost/childreninc-wp/category/on-the-road/page/2/"><span class="meta-nav">←</span> Older posts</a></div>
            
            
        </div><!-- .nav-links -->
    </nav><!-- .navigation -->
    
        
        </div><!-- #content -->
    </div><!-- #primary -->


      <div class="bfilter-wrap otr-bfilter-wrap">
        <div class="inner">

            <ul class="otr-filter-mobile-menu menu">
                <li>
                    <a href="#">Categories 
<svg width="17px" height="12px" viewBox="94 9 17 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <polyline id="Page-1" stroke="#FEFEFE" stroke-width="3" fill="none" points="96 11.4403338 102.710534 18.1508682 109.372753 11.4878827"></polyline>
</svg>
                    </a>
                    </li>
            </ul>

            <div class="menu-on-the-road-menu-container"><ul id="menu-on-the-road-menu-1" class="menu"><li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2561"><a href="http://localhost/childreninc-wp/category/on-the-road/on-the-road-series/">Story Series</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2562"><a href="http://localhost/childreninc-wp/category/on-the-road/spotlight/">Spotlight</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2651"><a href="http://localhost/childreninc-wp/category/on-the-road/my-sponsor-story/">My Sponsor Story</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2652"><a href="http://localhost/childreninc-wp/category/on-the-road/perspective/">Perspective</a></li>
</ul></div>
                <form method="get" id="searchform" class="form-search" action="" _lpchecked="1">
                  <label for="s" class="visually-hidden">Search</label>
                  <input type="text" id="s" class="search-query" name="s" placeholder="Search">

                  <div class="t8-search-icon">
                        <svg width="27px" height="26px" viewBox="1189 11 27 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(1191.000000, 12.000000)">
                            <path d="M14.5683,2.9138 C17.7863,6.1318 17.7863,11.3498 14.5683,14.5688 C11.3503,17.7868 6.1323,17.7868 2.9133,14.5688 C-0.3047,11.3498 -0.3047,6.1318 2.9133,2.9138 C6.1323,-0.3042 11.3503,-0.3042 14.5683,2.9138 L14.5683,2.9138 Z" id="Stroke-1" stroke="#FEFEFE" stroke-width="3"></path>
                            <path d="M14.5683,14.5684 L22.5003,22.5004" id="Stroke-3" stroke="#FEFEFE" stroke-width="3"></path>
                        </g>
                        </svg>
                    </div>
                </form>

            </div>
        </div>

        </div>