<p class="pl-label">Featured Region</p>

<div class="otr-featured-regions inner cf">
    <div class="otr-featured-region">
        <header class="otr-featured-region-header">
            <a href="https://childrenincorporated.org/region/kentucky/"><img alt="" class="otr-featured-region-icon" src="https://childrenincorporated.org/wp-content/uploads/2017/04/Kentucky.svg"></a>
        </header>
        <div class="otr-featured-region-posts">
            <div class="otr-featured-region-post">
                <a href="https://childrenincorporated.org/schools-working-together-help-kids/"><img alt="" class="attachment-medium size-medium wp-post-image" height="375" sizes="(max-width: 500px) 100vw, 500px" src="https://childrenincorporated.org/wp-content/uploads/2018/01/Lewis-Co-Midd_exterior-500x375.jpg" srcset="https://childrenincorporated.org/wp-content/uploads/2018/01/Lewis-Co-Midd_exterior-500x375.jpg 500w, https://childrenincorporated.org/wp-content/uploads/2018/01/Lewis-Co-Midd_exterior-768x576.jpg 768w, https://childrenincorporated.org/wp-content/uploads/2018/01/Lewis-Co-Midd_exterior-1024x768.jpg 1024w, https://childrenincorporated.org/wp-content/uploads/2018/01/Lewis-Co-Midd_exterior-676x507.jpg 676w" width="500"></a> <a href="https://childrenincorporated.org/schools-working-together-help-kids/">
                <h3>Schools Working Together to Help Kids</h3></a>
                <div>
                    <p>Lewis County has the unfortunate distinction of having consistently ranked as number one in unemployment among Kentucky’s counties since 1999. That year, the county’s top employer, a shoe factory, closed its doors and left many residents without a means to[…]</p>
                </div><a class="more-link" href="https://childrenincorporated.org/schools-working-together-help-kids/">
                <p>Read More</p></a>
            </div>
            <div class="otr-featured-region-post">
                <a href="https://childrenincorporated.org/helping-kayla-see/"><img alt="" class="attachment-medium size-medium wp-post-image" height="431" sizes="(max-width: 500px) 100vw, 500px" src="https://childrenincorporated.org/wp-content/uploads/2018/01/DSCF0108-500x431.jpg" srcset="https://childrenincorporated.org/wp-content/uploads/2018/01/DSCF0108-500x431.jpg 500w, https://childrenincorporated.org/wp-content/uploads/2018/01/DSCF0108-768x662.jpg 768w, https://childrenincorporated.org/wp-content/uploads/2018/01/DSCF0108-1024x882.jpg 1024w, https://childrenincorporated.org/wp-content/uploads/2018/01/DSCF0108-676x583.jpg 676w" width="500"></a> <a href="https://childrenincorporated.org/helping-kayla-see/">
                <h3>Helping Kayla to See</h3></a>
                <div>
                    <p>When I met Kayla* while traveling last year with Children Incorporated’s U.S. Projects Specialist, Shelley Oxenham, it was the beginning of a new school year for her. Almost right away, I noticed that she had an issue with her eyes:[…]</p>
                </div><a class="more-link" href="https://childrenincorporated.org/helping-kayla-see/">
                <p>Read More</p></a>
            </div>
            <div class="otr-featured-region-post">
                <a href="https://childrenincorporated.org/back-school-fund-action/"><img alt="" class="attachment-medium size-medium wp-post-image" height="368" sizes="(max-width: 500px) 100vw, 500px" src="https://childrenincorporated.org/wp-content/uploads/2018/01/BacktoSchool1-e1515621835864-500x368.jpg" srcset="https://childrenincorporated.org/wp-content/uploads/2018/01/BacktoSchool1-e1515621835864-500x368.jpg 500w, https://childrenincorporated.org/wp-content/uploads/2018/01/BacktoSchool1-e1515621835864.jpg 583w" width="500"></a> <a href="https://childrenincorporated.org/back-school-fund-action/">
                <h3>Our Back to School Fund in Action</h3></a>
                <div>
                    <p>Unfortunately, it is not uncommon for many children who attend our affiliated schools in Eastern Kentucky to not have proper clothes and shoes, let alone school supplies, throughout the school year. In a part of the U.S. where poverty is[…]</p>
                </div><a class="more-link" href="https://childrenincorporated.org/back-school-fund-action/">
                <p>Read More</p></a>
            </div>
        </div>
    </div>
    <div class="otr-featured-region">
        <header class="otr-featured-region-header">
            <a href="https://childrenincorporated.org/region/india/"><img alt="" class="otr-featured-region-icon" src="https://childrenincorporated.org/wp-content/uploads/2017/08/India.svg"></a>
        </header>
        <div class="otr-featured-region-posts">
            <div class="otr-featured-region-post">
                <a href="https://childrenincorporated.org/leaving-india-sri-lanka/"><img alt="" class="attachment-medium size-medium wp-post-image" height="333" sizes="(max-width: 500px) 100vw, 500px" src="https://childrenincorporated.org/wp-content/uploads/2017/12/DSCF9799-1-500x333.jpg" srcset="https://childrenincorporated.org/wp-content/uploads/2017/12/DSCF9799-1-500x333.jpg 500w, https://childrenincorporated.org/wp-content/uploads/2017/12/DSCF9799-1-768x512.jpg 768w, https://childrenincorporated.org/wp-content/uploads/2017/12/DSCF9799-1-1024x683.jpg 1024w, https://childrenincorporated.org/wp-content/uploads/2017/12/DSCF9799-1-676x451.jpg 676w" width="500"></a> <a href="https://childrenincorporated.org/leaving-india-sri-lanka/">
                <h3>Leaving India and Sri Lanka</h3></a>
                <div>
                    <p>After spending two weeks visiting eleven of our affiliated projects in India and Sri Lanka, knowing that the St. Mary’s Girls’ Hostel in Khammam was the last home I would be seeing on my trip left me with a bittersweet[…]</p>
                </div><a class="more-link" href="https://childrenincorporated.org/leaving-india-sri-lanka/">
                <p>Read More</p></a>
            </div>
            <div class="otr-featured-region-post">
                <a href="https://childrenincorporated.org/educating-a-nation/"><img alt="" class="attachment-medium size-medium wp-post-image" height="333" sizes="(max-width: 500px) 100vw, 500px" src="https://childrenincorporated.org/wp-content/uploads/2017/12/DSCF9515-500x333.jpg" srcset="https://childrenincorporated.org/wp-content/uploads/2017/12/DSCF9515-500x333.jpg 500w, https://childrenincorporated.org/wp-content/uploads/2017/12/DSCF9515-768x512.jpg 768w, https://childrenincorporated.org/wp-content/uploads/2017/12/DSCF9515-1024x683.jpg 1024w, https://childrenincorporated.org/wp-content/uploads/2017/12/DSCF9515-676x451.jpg 676w" width="500"></a> <a href="https://childrenincorporated.org/educating-a-nation/">
                <h3>Educating a Nation</h3></a>
                <div>
                    <p>It is an unfortunate reality that even in modern times, girls have fewer opportunities than boys when it comes to receiving an education. Girls all over the world face discrimination within their cultures. They are typically seen as unequal to[…]</p>
                </div><a class="more-link" href="https://childrenincorporated.org/educating-a-nation/">
                <p>Read More</p></a>
            </div>
            <div class="otr-featured-region-post">
                <a href="https://childrenincorporated.org/getting-clean-water-flowing/"><img alt="" class="attachment-medium size-medium wp-post-image" height="303" sizes="(max-width: 500px) 100vw, 500px" src="https://childrenincorporated.org/wp-content/uploads/2017/11/DSCF9470-500x303.jpg" srcset="https://childrenincorporated.org/wp-content/uploads/2017/11/DSCF9470-500x303.jpg 500w, https://childrenincorporated.org/wp-content/uploads/2017/11/DSCF9470-768x466.jpg 768w, https://childrenincorporated.org/wp-content/uploads/2017/11/DSCF9470-1024x621.jpg 1024w, https://childrenincorporated.org/wp-content/uploads/2017/11/DSCF9470-676x410.jpg 676w" width="500"></a> <a href="https://childrenincorporated.org/getting-clean-water-flowing/">
                <h3>Getting Clean Water Flowing</h3></a>
                <div>
                    <p>A few months ago, we reported on our partnership with the international nonprofit organization Wine To Water, which works to bring clean water solutions to some of the most remote parts of the world. Before Luis Bourdet, our Director of[…]</p>
                </div><a class="more-link" href="https://childrenincorporated.org/getting-clean-water-flowing/">
                <p>Read More</p></a>
            </div>
        </div>
    </div>
    <div class="otr-featured-region">
        <header class="otr-featured-region-header">
            <a href="https://childrenincorporated.org/region/bolivia/"><img alt="" class="otr-featured-region-icon" src="https://childrenincorporated.org/wp-content/uploads/2017/04/Bolivia.svg"></a>
        </header>
        <div class="otr-featured-region-posts">
            <div class="otr-featured-region-post">
                <a href="https://childrenincorporated.org/thousand-shoes-thousand-kids/"><img alt="" class="attachment-medium size-medium wp-post-image" height="268" sizes="(max-width: 500px) 100vw, 500px" src="https://childrenincorporated.org/wp-content/uploads/2017/11/DSCF7010-e1510223317697-500x268.jpg" srcset="https://childrenincorporated.org/wp-content/uploads/2017/11/DSCF7010-e1510223317697-500x268.jpg 500w, https://childrenincorporated.org/wp-content/uploads/2017/11/DSCF7010-e1510223317697-768x412.jpg 768w, https://childrenincorporated.org/wp-content/uploads/2017/11/DSCF7010-e1510223317697-1024x549.jpg 1024w, https://childrenincorporated.org/wp-content/uploads/2017/11/DSCF7010-e1510223317697-676x363.jpg 676w" width="500"></a> <a href="https://childrenincorporated.org/thousand-shoes-thousand-kids/">
                <h3>A Thousand Shoes for a Thousand Kids</h3></a>
                <div>
                    <p>As the end of the year approaches, I can say that the Children Incorporated staff as a whole is amazed by what we have accomplished thus far in 2017, thanks to our incredible sponsors and donors. When our President and[…]</p>
                </div><a class="more-link" href="https://childrenincorporated.org/thousand-shoes-thousand-kids/">
                <p>Read More</p></a>
            </div>
            <div class="otr-featured-region-post">
                <a href="https://childrenincorporated.org/building-homes-and-securing-futures-in-bolivia/"><img alt="" class="attachment-medium size-medium wp-post-image" height="375" sizes="(max-width: 500px) 100vw, 500px" src="https://childrenincorporated.org/wp-content/uploads/2017/05/IMG_0693-500x375.jpg" srcset="https://childrenincorporated.org/wp-content/uploads/2017/05/IMG_0693-500x375.jpg 500w, https://childrenincorporated.org/wp-content/uploads/2017/05/IMG_0693-768x576.jpg 768w, https://childrenincorporated.org/wp-content/uploads/2017/05/IMG_0693-1024x768.jpg 1024w, https://childrenincorporated.org/wp-content/uploads/2017/05/IMG_0693-676x507.jpg 676w" width="500"></a> <a href="https://childrenincorporated.org/building-homes-and-securing-futures-in-bolivia/">
                <h3>Building Homes and Securing Futures in Bolivia</h3></a>
                <div>
                    <p>It has been fun to reminisce about my trip to Bolivia last year now that Luis has returned from his visit there just a few weeks ago. When I caught up with him to hear updates about our projects, there[…]</p>
                </div><a class="more-link" href="https://childrenincorporated.org/building-homes-and-securing-futures-in-bolivia/">
                <p>Read More</p></a>
            </div>
            <div class="otr-featured-region-post">
                <a href="https://childrenincorporated.org/one-year-later-returning-montero-school/"><img alt="" class="attachment-medium size-medium wp-post-image" height="375" sizes="(max-width: 500px) 100vw, 500px" src="https://childrenincorporated.org/wp-content/uploads/2017/04/IMG_0530-500x375.jpg" srcset="https://childrenincorporated.org/wp-content/uploads/2017/04/IMG_0530-500x375.jpg 500w, https://childrenincorporated.org/wp-content/uploads/2017/04/IMG_0530-768x576.jpg 768w, https://childrenincorporated.org/wp-content/uploads/2017/04/IMG_0530-1024x768.jpg 1024w, https://childrenincorporated.org/wp-content/uploads/2017/04/IMG_0530-676x507.jpg 676w" width="500"></a> <a href="https://childrenincorporated.org/one-year-later-returning-montero-school/">
                <h3>One Year Later: Returning to the Montero School</h3></a>
                <div>
                    <p>It’s hard to believe it has already been a year since Luis and I were in Bolivia together, visiting projects in La Paz and Santa Cruz. Although Luis has been traveling to visit sites for many years now, it was[…]</p>
                </div><a class="more-link" href="https://childrenincorporated.org/one-year-later-returning-montero-school/">
                <p>Read More</p></a>
            </div>
        </div>
    </div>
</div>