// Alert Boxes

.ci-alert {
	font-size: 1em;
	color: $white;
	text-align: center;
	line-height: 1.5;
	padding: 15px 45px 17px 15px;
	font-style: italic;
	position: relative;
	display: none;

	&.show-alert {
		display: block;
	}
}

.ci-alert-normal {
	background-color: $grey;

	.ci-alert-close {
		//background-color: lighten($grey, 10%);
	}
}

.ci-alert-urgent {
	background-color: $urgent;

	.ci-alert-close {
		//background-color: lighten($urgent, 10%);
	}
}

.ci-alert-close {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	border: none;
	padding: 0 10px;
	background-color: transparent;
	cursor: pointer;

	img {
		position: absolute;
		top: 15px;
		right: 15px;

		@media screen and (min-width: $bp-med) {
			top: initial;
			right: initial;
			position: relative;
		}
	}
}