/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/

.menu li.buttonwrap {
	a {
		background-color: $green;
		color: $white;
		border: none;

		&:hover {
			background-color: darken($green, 7%);
			color: $white;
		}
	}

	&.blue a {
		background-color: $blue;
		border-color: $blue;

		&:hover {
			background-color: darken($blue, 7%);
			color: $white
		}
	}

	&.white a {
		color:$white;
		border-color:$white;

		&:hover {
			background-color:$white;
			color:$black;
		}
	}

	&.full a {
		width:100%;
		text-align:center;
  	box-sizing: border-box;
	}

	&.small a {
		font-size: 14px;
	}
}
.c-block input[type=submit]:not(.ci-button) {
	background:#ffffff;
}
.inlineform.pp-fund {
	display: inline-block;
	padding:1em;
	border: 1px solid $white;
	justify-content: center;


	div {
		font-size:16px;
		font-family: $titlefont;
		font-weight: bold;
		color:$green;
		background-color: $white;
		padding:0 0 0 0.5em;

		input {
			font-size:16px;
			font-family: $titlefont;
			font-weight: bold;
			border: none;
    	outline: none;
	    color:$grey-med;
	    width: 8ch;
		}
	}

	.button {
		color:$white;
		font-family:$titlefont;
		font-weight: bold;
		border:2px solid $green;
		text-decoration:none;
		text-transform:uppercase;
		letter-spacing:$title-spacing;
		padding:10px .5em;
		font-size:13px;
		display: inline-block;
		line-height:2;
		background-color: $green;
		margin:0 0 0 .5em;
		border-radius: 0;

		&:hover {
			background-color:$yellow;
			border:2px solid $yellow;
		}
	}

	@media screen and (min-width: $bp-med-2) {

		padding:1.25em;

		div {
			font-size:22px;
			padding:0 0 0 0.75em;

			input {
				font-size:20px;
			}
		}

		.button {
			padding:10px 1em;
			margin:0 0 0 1em; 
			font-size:18px;
		}


	}

}

.button,
a.button,
.buttonwrap .button,
.buttonwrap a {
	color: $green;
	background-color: transparent;
	font-family: $titlefont;
	font-weight: bold;
	border: 2px solid $green;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: $title-spacing;
	padding: 9px 1.6em 10px;
	font-size: 18px;
	display: inline-block;
	line-height: 2;
	background-color: transparent;
	cursor: pointer;
	border-radius: 0;
	margin-top:1em;
	transition: color $transition, background-color $transition, border-color $transition;		
	@include font-smoothing();
	text-rendering: optimizeLegibility;


	#header & {
		font-size:14px;
		margin:0;
	}

	&:hover {
		background-color:$green;
		color:$white;
	}

	&.button-primary-solid {
		color: $white;
		background-color: $green;

		&:hover {
			background-color: $blue;
			border-color: $blue;
		}
	}

	&.button-secondary,
	&.blue { // TODO refactor .blue out of the system
		color:$blue;
		border-color:$blue;

		&:hover {
			background-color:$blue;
			color:$white;
		}
	}

	&.button-secondary-solid {
		background-color: $blue;
		border-color: $blue;
		color: $white;

		&:hover {
			background-color: transparent;
			color: $blue;
		}
	}

	&.button-tertiary,
	&.white { // TODO refactor .white out of system
		color:$white;
		border-color:$white;

		&:hover {
			background-color:$white;
			color:$black;
			}
	}

	&.button-tertiary-solid {
		background-color: $white;
		border-color: $white;
		color: $grey;

		&:hover {
			background-color: transparent;
			color: $white;
		}
	}

	&.button-accent {
		border-color: $yellow;
		color: $yellow;

		&:hover {
			color: $grey;
			background-color: darken($yellow, 7%);
			border-color: darken($yellow, 7%);
		}
	}

	&.button-accent-solid {
		background-color: $yellow;
		border-color: $yellow;
		color: $grey;

		&:hover {
			background-color: darken($yellow, 7%);
			border-color: darken($yellow, 7%);
		}
	}

	&.grey {
		color:$grey-med;
		border-color:$grey-med;

		&:hover {
			background-color:$grey-med;
			color:$white	}
	}

	&.full {
		width:100%;
		text-align:center;
    	box-sizing: border-box;
	}
	&.small {
		font-size: 14px;
	}

	&.icon {
		color: $white;
		border-color: $white;
		position: relative;
		border-right: 0;
		padding-right: 1.5em;

		&:after {
			position: absolute;
			right: -52px;
			top: -2px;
			height: calc(100% + 4px);
			width: 52px;
			border: 2px solid $white;
			border-left: 0;
			content: '';
			background: url("../images/handheart-icon.png") center center no-repeat;
			background-size: 34px;

		}

		&:hover {
			background-color:$white;
			color:$black-lt;
		}

		&.center {
			margin-left:-52px;
		}

		&.doc,
		&.exclamation,
		&.ex,
		&.group,
		&.whistle {
			display:block;
			width:100%;
			margin-left: auto;
			margin-right: auto;
			padding-left: 55px;
			padding-right: 55px;
			text-align: center;
			box-sizing:border-box;

			&:after {
				background-image:url(../images/button-icon-sheet.png);
				color:$blue;
				border-color:$blue;
				background-size: 104px;
				right:0;
			}
		}


		&.doc:after {
			background-position: 0 -200px;
		}
		&.exclamation:after {
			background-position: 0 0;
		}
		&.ex:after {
			background-position: 0 -98px;
		}
		&.group:after {
			background-position: 0 -148px;
		}
		&.whistle:after {
			background-position: 0 -48px;
		}
	}

}
.white, .two-free, .single-free {
	a.button, .button {
		&.icon {
			color:$blue;
			border-color:$blue;
			clear:both;
		}
	}
}

a.back-button {
	color: white;
	font-family: 'halisgr book', Impact, Charcoal, sans-serif;
	border: 2px solid;
	padding: 0px 14px;
	font-size: 28px;
	line-height: 2;
	position: absolute;
	top: -64px;
	right: -4px;
	margin-top: 0;
}

// New Button styles

.ci-button,
a.ci-button,
input.ci-button {
	font-family: $titlefont;
	font-weight: bold;
	border: 2px solid;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: $title-spacing;
	padding: 11px 1.6em 10px;
	min-width: 10em;
	font-size: 1.125em;
	display: inline-block;
	line-height: 2;
	background-color: transparent;
	cursor: pointer;
	border-radius: 0;
	transition: color $transition, background-color $transition, border-color $transition;
	text-align: center;

  @include font-smoothing();
  text-rendering: optimizeLegibility;

}

.ci-button--primary,
a.ci-button--primary,
input.ci-button--primary {
	color: $grey;
	background-color: $yellow;
	border-color: $yellow;

	&:hover {
		color: $grey;
		background-color: darken($yellow, 7%);
		border-color: darken($yellow, 7%);
	}
}

.ci-theme_inverse .ci-button--primary {
	color: $grey;

	&:hover {
		color: $grey;
	}
}

.ci-button--secondary,
a.ci-button--secondary,
input.ci-button--secondary {
	color: $white;
	background-color: $blue;
	border-color: $blue;

	&:hover {
		color: $white;
		background-color: darken($blue, 12%);
		border-color: darken($blue, 12%);
	}

	&__alt {
		color: $blue;
		background-color: transparent;
		border-color: $blue;

		&:hover {
			color: $white;
			background-color: $blue;
		}
	}
}

.ci-button--accent,
a.ci-button--accent,
input.ci-button--accent {
	color: $white;
	background-color: $green;
	border-color: $green;

	&:hover {
		color: $white;
		background-color: darken($green, 9%);
		border-color: darken($green, 9%);
	}

}