/*------------------------------------*\
    $HEADER
\*------------------------------------*/

#header {
	background:$white;
	width: 100%;
	height: auto;
	position: relative;
	z-index: 300;

	p {
		padding: 0;
	}
	.inner {
		position: relative;
		z-index: 3;
		padding: 24px 0;
		margin:0 auto;
		background: $white;
	}


	.logo {
		width: 198px;
		height: 70px;
		margin:0;
		float: left;

		@media screen and (min-width:$bp-med-2) {
			margin: 0;
		}


		a {
			outline: 0 none;

			img {
				width:100%;
				height:auto;
			}
		}
	}

	.menu li.buttonwrap {
		a,
		button {
			font-size: .875em;
			padding: 1em 1.43em;
			line-height: 1;
		}
	}

	.right-menu {
		display: block;

		@media screen and (min-width: $bp-med-2) {
			display: block !important;
		}
	}


		@media screen and (max-width:$bp-med-2) {

			.inner {
				width:100%;
				padding:20px 5%;
				box-sizing: border-box;
			}

			.left-menu {

				display:none;

				.top-menu a.button {
					font-family:$font;
					border:0;
					font-style:italic;
					font-weight:normal;
					font-size:.825em;
					text-transform:none;
					width: auto;
			    background: transparent;
					padding:1.5em 0;
				}

				.bottom-menu {
					padding: 2em 0;
					margin: 0;
				}

				width: 100%;
				text-align: center;

				.menu li {
					text-align: center;
					display: block;
					padding: 10px 0;
					a {
						font-size: 1.25em;
					}
				}
			}

			.right-menu {
				display: none;
				width: 100%;
				text-align: center;
				box-sizing: border-box;
				flex-direction: column;
				justify-content: flex-start;

				.top-menu {
					order: 2;
					padding: 12px 0;
					margin-bottom: 20px;
				}

				.bottom-menu {
					order: 1;
					padding: 12px 0;
				}

				margin: 12px -6% -20px;
				width: 112%;

				.menu li {
					display: inline-block;
					padding: .5em;
				}

			}

			.menu {
				li {
					a {
						&:hover {
						}

					}
					&:after {
						content:'';
						display:none;
					}
				}
			}

		}

		@media screen and (max-width: $bp-small-3) {
			.right-menu .menu li {
				display: block;

				a {
					font-size: 1em;
				}
			}

			.right-menu .menu li .accent-nav-link {
				font-size: 1.25em;
			}
		}
}
