/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

a#open-menu {
	background: $grey;
	height: 20px;
	width: 26px;
	position: relative;
	text-indent: -9999px;
	outline: 0 none;
	overflow: hidden;
	float: right;
	margin-top: 30px;
	transition: none;

	@media screen and (min-width:$bp-med-2) {
		display:none;
	}

  &:before,
  &:after {
  	content:'';
  	width:100%;
  	height:4px;
  	position:absolute;
  	top:4px;
  	left:0;
  	background: $white;
	}

  &:after {
  	top:12px;
  }

  &.expanded {
		background: transparent;
		border: 0;

  	&:before, &:after {
	    margin-top: -2px;
	    content: '';
	    position: absolute;
	    top: 50%;
	    left: 0;
			background: $grey;
  	}

  	&:before {
	    -webkit-transform: rotate(45deg);
	    -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	    -o-transform: rotate(45deg);
	    transform: rotate(45deg);
		}

		&:after {
	    -webkit-transform: rotate(-45deg);
	    -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	    -o-transform: rotate(-45deg);
	    transform: rotate(-45deg);
    }

  }
}

.menu {
	li {
		position:relative;
	}

	a,
	button {
		font-family: $titlefont;
		font-weight: bold;
		text-decoration: none;
		color: $blue;
		background-color: transparent;
		border: none;
		text-transform: uppercase;
		font-size: .75em;
		line-height: 1;
		letter-spacing: $title-spacing;
		outline: 0 none;
		-moz-transition: color $transition;
		-o-transition: color $transition;
		-webkit-transition: color $transition;
		transition: color $transition;

		&:hover {
			color: darken($blue, 7%);
		}
	}
}

.dot-separated-list li {
		&:after {
			content: "\b7";
			position: absolute;
			right: -.25em;
			top: 0;
			line-height: 24px;
			padding: 10px 0;
			color: $blue;
		}
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
		&:last-child:after {
			content: '';
			display: none;
		}
}

.menu-row {
	li {
		display: inline-block;
		padding: 10px;
		white-space: nowrap;
	}
}

.menu-column {
	display: inline-block;
	padding-right: 4em;
	vertical-align: top;

	&:last-of-type {
		padding-right: 0;
	}
}

.left-menu {
	float: left;
}

.right-menu {
	float: right;
	text-align: right;
}

.menu .accent-nav-link a {
	font-family: $font;
	font-style: italic;
	text-transform: none;
	font-size: .875em;
	color: $blue;

	&:hover {
		color: darken($blue, 10%);
	}
}

.menu-welcome {
	font-size: 14px;
}