/* Headings */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	display: block;
	margin-top: unset; // TODO: remove after new-styles are in effect
	font-weight: bold;
}

h1,
.h1 {
	font-size: 2.5em;
	line-height: 1.187;
	font-family: $titlefont;
	color: $blue;
	text-transform: uppercase;

	@media screen and (min-width: $bp-med) {
     font-size:3em;
  }
}

h2,
.h2 {
	font-size: 1.75em;
	line-height: 1.142;
	font-family: $titlefont;
	color: $blue;
	text-transform: uppercase;
}

h3,
.h3 {
	font-size: 1.25em;
	line-height: 1.15;
	font-family: $titlefont;
	color: $blue;
	text-transform: uppercase;
}

h4,
.h4 {
	font-size: 1.125em;
	line-height: 1.167;
	font-family: $titlefont;
	color: $blue;
	text-transform: uppercase;
}

h5,
.h5 {
	font-size: 1em;
	line-height: 1.188;
	font-family: $titlefont;
	color: $blue;
	text-transform: uppercase;
}

h6,
.h6 {
	font-size: .875em;
	line-height: 1.214;
	font-family: $titlefont;
	color: $grey-dark-2;
	text-transform: uppercase;
}

h1 + h2,
h1 + h3,
h1 + h4,
h2 + h3,
h2 + h4,
h3 + h4,
h4 + h1,
h4 + h2 {
	margin-top:0;
}

.ci-home, footer, .ci-new-styles {
	color:$grey;

	h1, h2, .h1, .h2 {
		font-family: $font;
		text-transform: none;
	}
}

.ci-heading--secondary {
	color: $grey-dark-2;
}

.ci-theme_inverse {
	h1,
	.h1,
	h2,
	.h2,
	h3,
	.h3,
	h4,
	.h4,
	h5,
	.h5,
	h6,
	.h6 {
		color: $white;
	}
}

.green, .blue, .full-image {
	h1,
	.h1,
	h2,
	.h2,
	h3,
	.h3,
	h4,
	.h4,
	h5,
	.h5,
	h6,
	.h6 {
		color:white;
	}
}