/* Links */

a:not(.button), .ci-faux-link {
	color:$blue;
	text-decoration:none;
	transition:color $transition, background 80ms ease-out;
  background-position: 0% 85%;


	.c-block.green &, .c-block.blue &, .c-block.grey & {
		color:$white;
		text-decoration:underline;
		&:hover {
			color:$black;
		}
		&.button {
			text-decoration:none;
		}

	}

	.h-landmark & {
		color:$white;
		&:hover {
			color:$grey-dark;
		}

	}
}

p a:not(.button):not(.ci-button), .ci-faux-link, .otr-more-from-category a {

	&:hover, &:active {
		color:$blue;
		@include link-underline(white, $blue, $yellow);
	}
}

.c-block.green, .c-block.blue, .c-block.grey {
	h1, h2, h3, h4 {
		a {
			text-decoration:none;
		}
	}
}

a {
	h1, h2, h3, h4 {
		transition: color $transition;
	}
}
