/* common.css */

*
{
    background-color: transparent;
}

body 
{
   	background-color: White;
	/* background-image: url('../../images/pd/blue_bg.png'); */
	margin: 0px;	

}

.mainContentLink {
	color: Blue !important;
	text-decoration:underline; 
	cursor:pointer
}


h1.title {	
	font-size: 45px;
	text-transform: uppercase;
	line-height: 45px;
}

#MainContent 
{
        
}

#content-table 
{
    width: 619px;
    margin: 20px auto;    
}

.donor-portal-field 
{
	width: 300px;
	margin-left: 8px;
}

.donor-portal-field-wide 
{
	width: 400px;
	margin-left: 8px;
}

#ForgotPasswordLink
{
    font-size: 13px;
    text-decoration: underline;
}




input
{
    /* border: 2px solid #7BC552; */
	/* color: #000; */
	padding: 5px;
}

select 
{
    /* border: 2px solid #7BC552; */
	/* color: #000; */
	
    padding:3px;
}
   
.custom-ddl
{
    /*
    background-image: url(../../images/pd/GreenDownArrow.png);
    background-repeat:no-repeat;
    background-position:right;
    
    /* Hide ASP dropdown arrow for firefox
    -moz-appearance: none;
    /* Hide ASP dropdown arrow for chrome
    -webkit-appearance:none;
    text-indent: 0.01px;
    text-overflow: '';
*/
}      

/* Hide ASP dropdown arrow for IE10
select::-ms-expand {
    display: none;
}
*/

hr 
{
    border: 1px solid #7BC552;
}

option {
	color: #000;
}

#footer-div input 
{
    border-width: 2px;  
}

#newsletter-signup-field
{
    color: #fff;
    width: 225px;
}

#newsletter-submit-btn
{
    color: #fff;
    border: 2px solid #fff;
    margin-left: -8px;
    padding: 5px 10px;
    background-color: transparent;
    cursor: pointer;
}

.footer-icon
{
    vertical-align: middle;
}

button, input[type="submit"] {
	border: 1px solid #7BC552;
	background-color: #7BC552;
	color: #fff;
	font-size: 16px;
	padding: 4px;
	margin-bottom: 10px;
	cursor: pointer;
}

.message-panel
{
    color: #f00;
    margin: 8px auto;
    padding: 8px;
    border: 1px solid #fff;
    width: 95%;
}

.notify-msg
{
    color: #5190CC;
    text-align:center;  
}

.field-validation-msg
{
    color: Red;
    text-align:center;
    margin-left:20px;
}

.validation-msg
{
    color: Red;
    text-align:center;
}

.blue-content-cell
{
    width: 50%;    
    vertical-align: top;
    background-image: url('../../images/pd/blue_bg.png');
}

.green-content-cell
{
    width: 50%;    
    vertical-align: top;
    background-image: url('../../images/pd/green_bg.png');
}

.fund-desc,
.child-desc {
	font-size: 12px;
	padding-right: 10px;
	padding-bottom: 40px;
}

.borderTotal
{
    border-top: 2px dashed #7BC552;
    border-bottom: 2px solid #7BC552;
    border-left: 2px solid #7BC552;
    border-right: 2px solid #7BC552;
}

.borderAll
{
    border: 2px solid #7BC552;
}

.borderBottom
{
    vertical-align:bottom;
    border-bottom: 2px solid #7BC552;
}

.borderTop
{
    border-top: 2px solid #7BC552;
}

.borderTopBottom
{
    border-top: 2px solid #7BC552;
    border-bottom: 2px solid #7BC552;
}

.borderLeft
{
    border-left: 2px solid #7BC552;
}

.borderRight
{
    border-right: 2px solid #7BC552;
}

.child-img 
{
    height: 150px;
}

.child-name {
	font-size: 22px;
}

/* style HTML5 placeholders for input fields, from http://css-tricks.com/snippets/css/style-placeholder-text/ */
::-webkit-input-placeholder {
   color: #eee;
}

:-moz-placeholder { /* Firefox 18- */
   color: #eee;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #eee;  
}

:-ms-input-placeholder {  
   color: #eee;  
}

.field-label
{
    text-align:right;
    padding-right:3px;
    vertical-align:middle;
}

.field-label-top
{
    text-align:right;
    padding-right:3px;
    vertical-align:top;
}

.green
{
    background-color: #CCFFCC;
    color: Green;
}

.red
{
    background-color: #FFCCCC;
    color: Red;
}

.selectedFont
{
    /*background-color: #7BC552; */
    color: #7BC552; 
}

.standardBG
{
    background-color: #7BC552;
    color: Black;
}


.disableButton
{
    background-color: Silver;
    border-color: Silver;
    color: Black;
    cursor: default;
}

.left 
{
    text-align:left;
}

.center
{
    text-align:center;
}

.right
{
    text-align:right;
}

.indent 
{
    margin-left: 15px;
    margin-right: 15px;
}

input[type="text"]:disabled
{
    background:#CF9;
}

.portalBorder
{
    background-color: #CCFFCC;
    color: Green;
}

/* DISABLE Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 0px; -webkit-border-top-left-radius: 0px; -khtml-border-top-left-radius: 0px; border-top-left-radius: 0px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 0px; -webkit-border-top-right-radius: 0px; -khtml-border-top-right-radius: 0px; border-top-right-radius: 0px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 0px; -webkit-border-bottom-left-radius: 0px; -khtml-border-bottom-left-radius: 0px; border-bottom-left-radius: 0px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 0px; -webkit-border-bottom-right-radius: 0px; -khtml-border-bottom-right-radius: 0px; border-bottom-right-radius: 0px; }


/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.ui-tooltip {
	padding: 11px;
	position: absolute;
	z-index: 9999;
	max-width: 600px;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
	font-size:1.0em;
}

.ui-tooltip, .arrow:after {
    background: #7BC552;
    }
  
/* Fades and background-images don't work well together in IE6, drop the image */
* html .ui-tooltip {
	background-image: none;
}
body .ui-tooltip { border-width: 2px; }

.arrow {
    width: 70px;
    position: absolute;
    left: 35%;
    margin-left: -25px;
    bottom: -8px;
  }
  .arrrow.top {
    top: -16px;
    bottom: -16px;
    bottom: auto;
  }
  .arrow.left {
    left: 25%;
  }
  .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    tranform: rotate(45deg);
  }
  .arrow.top:after {
    bottom: -20px;
    top: auto;
  }