.ci-new-styles {

// SPACING classes
.ci-m-bottom {
	margin-bottom: 1rem;
}

.ci-m-bottom__med {
	margin-bottom: 1.5rem;
}

.ci-m-bottom__large {
	margin-bottom: 2rem;
}

.ci-m-bottom__xl {
	margin-bottom: 3rem;
}

.ci-m-bottom__xxl {
	margin-bottom: 4rem;
}

.ci-m-top {
	margin-top: 1rem;
}

.ci-m-top__med {
	margin-top: 1.5rem;
}

.ci-m-top__large {
	margin-top: 2rem;
}

.ci-m-top__xl {
	margin-top: 3rem;
}

.ci-m-top__xxl {
	margin-top: 4rem;
}

.ci-m-auto {
	margin-left: auto;
	margin-right: auto;
}

}