<div class="small-title-bar tertiary">
	<h1>Child Spotlight</h1>
</div>

<section class="child-spotlight-primary">
	<div class="child-spotlight-primary-img">
		<img src="http://res.cloudinary.com/dw5sevhx8/image/upload/v1507063650/child-spotlight-demo_uhe5ko.png" alt="">
	</div>

	<div class="child-spotlight-primary-info">
		<div class="child-spotlight-sunshine">
			<svg width="82px" height="82px" viewBox="0 0 82 82" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
			      <g id="Artboard-Copy-2" transform="translate(-407.000000, -338.000000)">
			          <g id="Group-3-Copy" transform="translate(407.000000, 338.000000)">
			              <g id="Page-1" fill="#FFC30E">
			                  <path d="M40.1826087,58.3652174 C30.2033165,58.3652174 22,50.2076835 22,40.1826087 C22,30.1566843 30.1187462,22 40.1826087,22 C50.2464712,22 58.3652174,30.1566843 58.3652174,40.1826087 C58.3652174,50.2076835 50.1619009,58.3652174 40.1826087,58.3652174" id="Fill-1"></path>
			                  <path d="M41.3565217,82 C39.3956522,82 37.7913043,80.4598261 37.7913043,78.5773913 L37.7913043,66.1704348 C37.7913043,64.288 39.3956522,62.7478261 41.3565217,62.7478261 C43.3173913,62.7478261 44.9217391,64.288 44.9217391,66.1704348 L44.9217391,78.5773913 C44.9217391,80.4598261 43.3173913,82 41.3565217,82" id="Fill-3"></path>
			                  <path d="M41.3565217,19.2521739 C39.3956522,19.2521739 37.7913043,17.712 37.7913043,15.8295652 L37.7913043,3.4226087 C37.7913043,1.54017391 39.3956522,0 41.3565217,0 C43.3173913,0 44.9217391,1.54017391 44.9217391,3.4226087 L44.9217391,15.8295652 C44.9217391,17.712 43.3173913,19.2521739 41.3565217,19.2521739" id="Fill-5"></path>
			                  <path d="M15.8295652,44.9217391 L3.4226087,44.9217391 C1.54017391,44.9217391 0,43.3173913 0,41.3565217 C0,39.3956522 1.54017391,37.7913043 3.4226087,37.7913043 L15.8295652,37.7913043 C17.712,37.7913043 19.2521739,39.3956522 19.2521739,41.3565217 C19.2521739,43.3173913 17.712,44.9217391 15.8295652,44.9217391" id="Fill-7"></path>
			                  <path d="M78.5773913,44.9217391 L66.1704348,44.9217391 C64.288,44.9217391 62.7478261,43.3173913 62.7478261,41.3565217 C62.7478261,39.3956522 64.288,37.7913043 66.1704348,37.7913043 L78.5773913,37.7913043 C80.4598261,37.7913043 82,39.3956522 82,41.3565217 C82,43.3173913 80.4598261,44.9217391 78.5773913,44.9217391" id="Fill-9"></path>
			                  <path d="M14.1058601,70.5913043 C13.2533081,70.5913043 12.4007561,70.2502836 11.7187146,69.568242 C10.3546314,68.2041588 10.3546314,66.0727788 11.7187146,64.7086957 L20.5,55.9274102 C21.8640832,54.563327 23.9954631,54.563327 25.3595463,55.9274102 C26.7236295,57.2914934 26.7236295,59.4228733 25.3595463,60.7869565 L16.5782609,69.568242 C15.8962193,70.2502836 15.0436673,70.5913043 14.1058601,70.5913043" id="Fill-11"></path>
			                  <path d="M58.3145558,26.3826087 C57.4620038,26.3826087 56.6094518,26.0415879 55.9274102,25.3595463 C54.563327,23.9954631 54.563327,21.8640832 55.9274102,20.5 L64.7086957,11.7187146 C66.0727788,10.3546314 68.2041588,10.3546314 69.568242,11.7187146 C70.9323251,13.0827977 70.9323251,15.2141777 69.568242,16.5782609 L60.7017013,25.3595463 C60.1049149,26.0415879 59.1671078,26.3826087 58.3145558,26.3826087" id="Fill-13"></path>
			                  <path d="M22.8871456,26.3826087 C22.0345936,26.3826087 21.1820416,26.0397244 20.5,25.3539558 L11.7187146,16.6104063 C10.3546314,15.2388691 10.3546314,13.0958422 11.7187146,11.7243051 C13.0827977,10.3527679 15.2141777,10.3527679 16.5782609,11.7243051 L25.3595463,20.5535757 C26.7236295,21.9251129 26.7236295,24.0681397 25.3595463,25.4396769 C24.5922495,26.0397244 23.7396975,26.3826087 22.8871456,26.3826087" id="Fill-15"></path>
			                  <path d="M67.0958412,70.5913043 C66.2432892,70.5913043 65.3907372,70.2502836 64.7086957,69.568242 L55.9274102,60.7869565 C54.563327,59.4228733 54.563327,57.2914934 55.9274102,55.9274102 C57.2914934,54.563327 59.4228733,54.563327 60.7869565,55.9274102 L69.568242,64.7086957 C70.9323251,66.0727788 70.9323251,68.2041588 69.568242,69.568242 C68.8009452,70.2502836 67.9483932,70.5913043 67.0958412,70.5913043" id="Fill-17"></path>
			              </g>
			              <circle id="Oval" fill="#4F8BCA" cx="40.5" cy="42.5" r="9.5"></circle>
			              <path d="M44.1630435,39.325 C43.1724457,39.325 42.3695652,38.5136042 42.3695652,37.5125 C42.3695652,36.5113958 43.1724457,35.7 44.1630435,35.7 C45.1536413,35.7 45.9565217,36.5113958 45.9565217,37.5125 C45.9565217,38.5136042 45.1536413,39.325 44.1630435,39.325 M44.9582425,44.2010887 C43.7096923,45.7107597 42.0190968,46.575 40.2173913,46.575 C38.4156858,46.575 36.7250903,45.7107597 35.4765401,44.2010887 C35.1020229,43.7495767 35.1020229,43.0161591 35.4765401,42.5640682 C35.8505783,42.1119773 36.4568939,42.1119773 36.8309322,42.5640682 C37.7236432,43.643645 38.9290905,44.2595537 40.2173913,44.2595537 C41.5056921,44.2595537 42.7111394,43.643645 43.6038505,42.5640682 C43.9783676,42.1119773 44.5842043,42.1119773 44.9582425,42.5640682 C45.3327597,43.0161591 45.3327597,43.7495767 44.9582425,44.2010887 M33.7608696,37.5125 C33.7608696,36.5113958 34.56375,35.7 35.5543478,35.7 C36.5449457,35.7 37.3478261,36.5113958 37.3478261,37.5125 C37.3478261,38.5136042 36.5449457,39.325 35.5543478,39.325 C34.56375,39.325 33.7608696,38.5136042 33.7608696,37.5125 M54.3142038,29.6899814 C50.6927409,26.1035102 44.8584586,26.1088307 41.2598332,29.690465 L40.4989033,30.4479045 L39.7379733,29.690465 C36.139348,26.1088307 30.3050657,26.1035102 26.7010954,29.6725689 C23.0966391,33.2788709 23.10247,39.0839723 26.7015813,42.6670577 L39.8118311,55.7166857 C40.1913243,56.0944381 40.8064822,56.0944381 41.1859754,55.7166857 L54.2962253,42.6670577 C57.8953365,39.0839723 57.9011674,33.2788709 54.3142038,29.6899814" id="Page-1" fill="#FFC30E"></path>
			          </g>
			      </g>
			  </g>
			</svg>
		</div>
		<h2 class="child-spotlight-hello">Hi, I'm Samantha</h2>
		<p class="child-spotlight-desc">
			I am currently Children Incorporated’s youngest girl available for sponsorship. I have finished Head Start and will begin kindergarten this coming school year. I live with my single mother and two siblings. My mom tries hard and works as a nurse's aide, but her wages are very low. I love pizza, bunnies, and the Strawberry Shortcake movies.
		</p>
		<span class="child-spotlight-cta">Sponsor me today!</span>
		<div>
			<span class="child-spotlight-phone">1-800-538-5381</span>
			<span class="child-spotlight-email">sponsorship@children-inc.org</span>
		</div>
	</div>
</section>

<section class="child-spotlight-more-info">
	<p>Want to sponsor one of our other recent Child Spotlights?<br>Contact the Sponsorship Department today and mention one of the Children below.</p>
	<span class="child-spotlight-email">sponsorship@children-inc.org</span>
	<span class="child-spotlight-phone">1-800-538-5381</span>
</section>

<section class="child-spotlight-secondary">
	<div class="child-spotlight-secondary-child">
		<img src="http://res.cloudinary.com/dw5sevhx8/image/upload/v1507063650/child-spotlight-demo_uhe5ko.png" alt="" class="child-spotlight-secondary-img">
		<span class="child-spotlight-secondary-name">Samantha</span>
		<span class="child-spotlight-secondary-region">Kentucky</span>
	</div>
	<div class="child-spotlight-secondary-child">
		<img src="http://res.cloudinary.com/dw5sevhx8/image/upload/v1507063650/child-spotlight-demo_uhe5ko.png" alt="" class="child-spotlight-secondary-img">
		<span class="child-spotlight-secondary-name">Samantha</span>
		<span class="child-spotlight-secondary-region">Kentucky</span>
	</div>
	<div class="child-spotlight-secondary-child">
		<img src="http://res.cloudinary.com/dw5sevhx8/image/upload/v1507063650/child-spotlight-demo_uhe5ko.png" alt="" class="child-spotlight-secondary-img">
		<span class="child-spotlight-secondary-name">Samantha</span>
		<span class="child-spotlight-secondary-region">Kentucky</span>
	</div>
</section>