<div class="ci-about">
	<section class="ci-about-what text-image blue">
		<div class="ci-about-what-primary-img img-wrap" style="background-image: url('http://childreninc.staging.wpengine.com/wp-content/uploads/2018/02/pinkwintercoat-1024x1024.jpg');">
		</div>

		<div class="ci-about-what-primary-info text-wrap">
			<h1>What We Do</h1>
			<p>
				Children Incorporated provides resources for children in need in the United States and abroad, because we passionately believe that children everywhere deserve education, hope, and opportunity. As an international child sponsorship organization, we give impoverished children all over the world a chance at a better life.
			</p>
		</div>
	</section>

	<section class="ci-about-ways yellow centered">
		<div class="inner">
			<header>
				<h2 class="h1">Ways To Help A Child</h2>
				<p>Children Incorporated provides for the needs of impoverished children through two primary approaches:</p>
			</header>
		</div>
	</section>

	<section class="ci-about-sponsorship">
		<div class="inner">
			<header class="centered">
				<p class="badge-number">1</p>
				<h2 class="h1">Child Sponsorship</h2>
			</header>
			<div class="cols cols-7-5">
				<div class="col-7">
					<h2>$30 a month provides so much</h2>
					<p>Your sponsorship does more than just feed or clothe a child &mdash; it has the potential to change lives, too. Your support goes beyond helping to meet basic and critical needs today &mdash; it is an investment in the future.</p>
					<p>Children Incorporated relies upon our donors and individual sponsors to partner with us in our efforts to provide eduction, hope, and opportunity to children around the world. Our life-changing work would not be possible without you.</p>
				</div>
				<div class="col-5">
					<img src="https://childrenincorporated.org/wp-content/uploads/2015/10/DSCF0668-1024x683.jpg" alt="">
				</div>
			</div>
			<div class="cols cols-7-5">
				<div class="col-7">
					<h2>How your sponsorship makes a difference</h2>
					<p>Our policy has always been to consider the needs of each sponsored child on an individual basis. In contrast to other child sponsorship organizations, our volunteer coordinators personally shop for the children enrolled in their respective schools, orphanages, and community centers on a regular basis &mdash; and therefore, they are familiar with each individual circumstance and need.</p>
				</div>
				<div class="col-5">
					<img src="https://childrenincorporated.org/wp-content/uploads/2015/10/DSCF0668-1024x683.jpg" alt="">
				</div>
			</div>
			<div class="centered"><a href="#" class="ci-button ci-button--primary">Sponsor a Child</a></div>
		</div>
	</section>

	<section class="ci-about-special-funds centered">
		<div class="inner">
			<p class="badge-number">2</p>
			<header>
				<h2 class="h1">Special Funds</h2>
			</header>
			<h2>Our Special Funds expand our reach beyond Sponsorship</h2>
			<p>Individual, one­time donations support feeding programs, income-generating projects,  health and education assistance programs, as well as critical projects like school expansions, medical clinic repairs, housing improvements and more.</p>
			<ul class="funds-list">
				<li>
					<div class="left">
						<h5 class="grey">International Feeding Program</h5>
						<a href="#" ><em>Learn More</em></a>
					</div>
					<div class="right">
						<a href="#" class="ci-button ci-button--accent">Donate</a>
					</div>
				</li>
				<li>
					<div class="left">
						<h5 class="grey">International Feeding Program</h5>
						<a href="#" ><em>Learn More</em></a>
					</div>
					<div class="right">
						<a href="#" class="ci-button ci-button--accent">Donate</a>
					</div>
				</li>
				<li>
					<div class="left">
						<h5 class="grey">International Feeding Program</h5>
						<a href="#" ><em>Learn More</em></a>
					</div>
					<div class="right">
						<a href="#" class="ci-button ci-button--accent">Donate</a>
					</div>
				</li>
				<li>
					<div class="left">
						<h5 class="grey">International Feeding Program</h5>
						<a href="#" ><em>Learn More</em></a>
					</div>
					<div class="right">
						<a href="#" class="ci-button ci-button--accent">Donate</a>
					</div>
				</li>
				<li>
					<div class="left">
						<h5 class="grey">International Feeding Program</h5>
						<a href="#" ><em>Learn More</em></a>
					</div>
					<div class="right">
						<a href="#" class="ci-button ci-button--accent">Donate</a>
					</div>
				</li>
			</ul>
		</div>
	</section>

	<section class="ci-about-ctas yellow">
		<div class="cropped-background-image no-overlay" style="background-image: url(https://childrenincorporated.org/wp-content/uploads/2017/11/DSCF9470.jpg)"></div>
		<div class="inner">
			<div class="cols cols-thirds">
				<a href="#" class="col-4">
					<svg width="75" height="45" viewBox="0 0 75 45" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					  <defs>
					    <path id="a" d="M74.297.156H0V44.44h74.297z"/>
					  </defs>
					  <g fill="none" fill-rule="evenodd">
					    <g>
					      <path d="M26.562 36.176c-7.656 0-13.906-6.237-13.906-13.878 0-7.64 6.25-13.878 13.906-13.878 7.657 0 13.907 6.237 13.907 13.878 0 7.64-6.25 13.878-13.907 13.878M69.453 4.522L53.75 12.786V2.573A2.432 2.432 0 0 0 51.328.156H2.422A2.432 2.432 0 0 0 0 2.573v39.45a2.432 2.432 0 0 0 2.422 2.418h48.906a2.432 2.432 0 0 0 2.422-2.417V31.81l15.703 8.264c2.187 1.17 4.844-.39 4.844-2.884V7.407c0-2.495-2.657-4.055-4.844-2.885" fill="#454545"/>
					    </g>
					    <path d="M33.425 21.378l-9.431-6.17c-.844-.561-1.994.08-1.994 1.122v12.34c0 1.042 1.15 1.683 1.994 1.122l9.43-6.17c.768-.48.768-1.763 0-2.244" fill="#454545"/>
					  </g>
					</svg>
					<h4>Follow Our<br />Journey</h4>
				</a>
				<a href="#" class="col-4">
					<svg width="57" height="49" viewBox="0 0 57 49" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					  <defs>
					    <path id="a" d="M0 49h57V.327H0z"/>
					  </defs>
					  <g fill="none" fill-rule="evenodd">
					    <path fill="#FFC30E" d="M15 13h35V8H15zM15 28h20V18H15zM37 20h12v-2H37zM37 27h12v-2H37zM15 35h35v-2H15zM15 42h35v-2H15z"/>
					    <g>
					      <path d="M53.906 4.3v1.037h-.002l.002 39.046a1.4 1.4 0 0 1-1.404 1.398h-40.3c-.772-.004-1.22-.598-1.22-1.371l-.01-1.73.016-37.392V3.397h42.918V4.3zM53.122.327H7.9V4.19l-.007 6.355L0 12.272l7.691 34.247c.375.806 1.073 1.46 1.877 1.901a3.69 3.69 0 0 0 2.01.58H52.92C55.062 49 57 47.268 57 45.14V.328h-3.878z" fill="#FFC30E"/>
					    </g>
					    <path fill="#000" d="M53.906 5.338v-.534l-.002.534z"/>
					  </g>
					</svg>
					<h4>Read Our<br />Stories</h4>
				</a>
				<a href="#" class="col-4">
					<svg width="59" height="54" viewBox="0 0 59 54" xmlns="http://www.w3.org/2000/svg">
					  <path d="M29.501 0L0 20.857v7.107L29.501 7.106l29.498 20.858v-7.107H59L29.501 0zM5.624 26.26V54h17.77V39.124h12.215V54h17.77V26.26L29.502 9.555 5.624 26.26z" fill="#454545" fill-rule="evenodd"/>
					</svg>
					<h4>Visit Our<br />Communities</h4>
				</a>
			</div>
		</div>
	</section>

	<section class="ci-about-history">
		<div class="inner">
			<header class="centered">
				<h2 class="h1">Our History</h2>
			</header>
			<div class="cols cols-7-5">
				<div class="col-7">
					<p>In 1964, after personally witnessing the deprivation of children in Guatemala, our founder, Jeanne Clarke Wood, established Children Incorporated out of her home in Richmond, Virginia. Mrs. Wood began writing letters and seeking assistance for the 95 children she met on her travels. This became the first Children Incorporated project.</p>
					<p>Thanks to past and current supporters around the globe, we now have over 300 projects in 23 countries which serve over 20,000 children annually. To date, over 250,000 children have been provided opportunities for growth and education, and have experienced the support and encouragement our programs provide.</p>
				</div>
				<div class="col-5">
					<img src="https://childrenincorporated.org/wp-content/uploads/2015/10/DSCF0668-1024x683.jpg" alt="">
				</div>
			</div>
		</div>
	</section>

</div>