<section class="ci-home-sponsor-cta" style="background-image: url(https://childrenincorporated.org/wp-content/uploads/2015/10/Untitled-1-1.png);">
	<div class="inner">
		<div class="ci-home-sponsor-cta--content">
			<header>
				<span class="h1">Sponsor a child</span>
				<span class="subtitle">in the U.S. or abroad</span>
			</header>
			<p>
				Help us provide sustainable solutions for children around the world to receive food, clothing, healthcare, and an education.
			</p>
			<a href="#" class="ci-button ci-button--primary">Sponsor a child</a>
		</div>
  </div>
</section>

<section class="ci-home-mission">
	<div class="inner">
		<header>
			<h2 class="h1">Our mission</h2>
			<p>Children Incorporated provides resources t0 children in need in the United States and abroad because we passionately believe that children everywhere deserve education, hope, and opportunity.</p>
	    <div class="dms-donate-fund-form-wrap dms-donate-featured-fund">
	        <div class="dms-donate-fund-form">
	            <input type="number" class="dms-donate-fund-input"><!--
	            --><input type="submit" class="ci-button ci-button--accent" value="Donate now">
	        </div>
	        <span class="dms-donate-fund-form-helper">Enter your donation amount above</span>
	    </div>
		</header>
	</div>
</section>

<section class="ci-home-experiences">
	<div class="inner ci-home-experiences--flexbox">
		<header>
			<h2 class="h1">Our Experiences</h2>
			<p>Too many children around the world aren’t given the opportunity to reach their full potential. Sponsoring a child can change that.</p>
			<p>Learn more about the children and communities we serve and see how your contribution makes an impact.</p>
		</header>
		<div class="ci-home-experiences--video">
			<div class="video-container">
				<iframe width="500" height="281" src="https://www.youtube.com/embed/olnghd9OyzI?feature=oembed" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
			</div>
		</div>
	</div>
</section>

<section class="ci-home-impact">
	<div class="inner">
		<h2 class="h1">Our Impact</h2>

		[icons]
		[icons]
		[icons]
		[icons]
	</div>
</section>

<section>
	[three up images with rollovers]

	<p>Children Incorporated works in 23 countries around the world, including the U.S.</p>

	<p>See our work and experiences from around the globe:</p>

	<a href="#" class="ci-button ci-button--primary">Go on the road</a>

	<a href="">Subscribe</a>
</section>

<section>
	[full bleed image]

	<blockquote>
		“There are many fine agencies to choose from, but my personal favorite is Children Incorporated…the experience has brought tremendous joy and satisfaction to my entire family.”
		<cite>DR. RICHARD CARLSON – LATE AUTHOR,<br>EXCERPT FROM DON’T SWEAT THE SMALL STUFF</cite>
	</blockquote>
</section>

<section>
	<h2>Find a child to sponsor</h2>
	<p>For just $28.00 a month, you can help to break the cycle of poverty and give a child hope for a brighter tomorrow.</p>
	<div class="ci-form-element">
	  <label class="ci-form-element__label" for="sponsor-region">I would like to sponsor a child from:</label>
	  <div class="ci-form-element__control">
	    <div class="ci-select_container">
	      <select class="ci-select" id="sponsor-region">
	        <option>Lebanon</option>
	        <option>Kenya</option>
	        <option>Kentucky</option>
	      </select>
	    </div>
	  </div>
	</div>
	<input type="submit" class="ci-button ci-button--primary" value="Go!" />
</section>

<section>
	[full bleed image]
	<blockquote>
		“The personal attention to the children and programs is exceptional and rare, but what is really unique about Children Incorporated is that they know who they are. They have a vision for their best, most productive self; one that retains their uniqueness and effectiveness, and they are acting on realizing that vision. You can trust them. You will know you are truly helping real children, in real time, and you will know how every penny you give is spent. I know this from 30 years of experience with Children Incorporated.”
		<cite>Rosanne Cash, Grammy Award-Winning Artist</cite>
	</blockquote>
</section>