<div id="region-how-tos">

		<div class="white-block">

							<section class="text-only c-block blue ">
					<article class="entry">
						 <div class="col-8 centered">
							<h1>How do I sponsor a child in the United States?</h1>
						 </div>
					</article>
				</section>
				<section class="single-free c-block no-bot">
					<article class="entry">
						<div class="col-3">
							<div id="jumpnav" style="display: block; margin-top: 0px;">
							  <h3>Sponsorship FAQs</h3>
							<ul><li><a href="#section0">What should I know about Children Incorporated’s work in the United States ?</a></li><li><a href="#section1">What is the sponsorship experience like with Children Incorporated?</a></li><li><a href="#section2">How long can I sponsor a child in the United States ?</a></li><li><a href="#section3">Will I receive updated information from my sponsored child in the United States ?</a></li><li><a href="#section4">How do I pay for monthly sponsorship?</a></li><li><a href="#section5">Are there deadlines for sending additional monetary gifts for the child I sponsor?</a></li><li><a href="#section6">May I send packages to my sponsored child in the United States ?</a></li><li><a href="#section7">May I write to the child I sponsor?</a></li><li><a href="#section8">What should I write about?</a></li><li><a href="#section9">What if I have specific questions regarding the child I sponsor?</a></li><li><a href="#section10">Is it possible to visit my sponsored child in the United States ?</a></li></ul></div>
						</div>
						<div class="col-8">
														<p>You can <a href="https://childrenincorporated.org">sponsor a child</a> in the United States in one of two ways – call our office and speak with one of our sponsorship specialists at 1-800-538-5381, or go online to our donation portal, create an account, and search for a child in the United States that is available for sponsorship.</p>
<h3 id="section0">What should I know about Children Incorporated’s work in the United States ?</h3>
<p>Our U.S. Division covers both the inner city and more rural areas, including the Indian Reservations of Arizona and New Mexico, New Orleans, Detriot, and Washington D.C.</p>
<h3 id="section1">What is the sponsorship experience like with Children Incorporated?</h3>
<p>The sponsorship relationship enables a <a href="https://dms.childrenincorporated.org/Donor/CISponsorChild.aspx">sponsor to help support a needy child by means of monthly contributions</a>, and through the exchange of correspondence with a sponsored child, if the sponsor so desires. A sponsor’s friendship and encouragement is priceless to a child in such circumstances. Indeed, many children value the relationships they establish with their sponsors as much as they value the financial support they receive from them. There is an opportunity to build a relationship between sponsor and child that can be quite profound.</p>
<p>Our current monthly sponsorship rate is $30, and it goes toward providing basic necessities such as school supplies and fees, food, clothing, and access to healthcare, among other services.</p>
<h3 id="section2">How long can I sponsor a child in the United States ?</h3>
<p>We hope that you will assist your sponsored child until he or she leaves our program. This may occur when a child graduates from high school, moves out of our service area, or for a variety of other reasons. Due to the transient state of many families and the difficult circumstances of the regions where they reside, we cannot predict or guarantee how long a child will remain enrolled in the Children Incorporated sponsorship program, although we make every effort to provide services to children for as long as possible.</p>
<p>When a child leaves our program, it is our policy to select another, equally needy child for you to sponsor, in the hope that you will accept sponsorship of the new child and continue to partner with us in changing lives. Unfortunately, we usually lose contact with children once they leave the sponsorship program (as we do not maintain personal addresses or contact information for any of the children). Even so, the positive impact of your generosity – both upon the individual child and upon his or her community – endures!</p>
<h3 id="section3">Will I receive updated information from my sponsored child in the United States ?</h3>
<p>Yes. We will send you updated information and an updated photo about once a year, although the frequency may vary depending upon the child’s location. The typical progress report includes information about the child’s grade level in school, hobbies, and interests.</p>
<h3 id="section4">How do I pay for monthly sponsorship?</h3>
<p>Sponsorship contributions may be made by check, money order, credit/debit card, or ACH transfer (debit from a checking or savings account). Checks or money orders may be mailed to Children Incorporated at PO Box 72848, North Chesterfield, VA 23235. Contributions via credit/debit card are accepted online or over the phone, and we can mail you an application to authorize ACH transfer. The current sponsorship rate is $30 a month ($360 a year). Contributions may be made on a monthly ($30 a month), quarterly ($90 every three months), semi-annual ($180 every six months), or annual ($360 every twelve months) basis.</p>
<p>You may also set up automatically recurring contributions (as charges to your American Express, Visa, MasterCard, or Discover card; or as debits from your checking or savings account). Please call our office or send us an email at <a href="mailto:sponsorship@children-inc.org">sponsorship@children-inc.org</a> for more information.</p>
<h3 id="section5">Are there deadlines for sending additional monetary gifts for the child I sponsor?</h3>
<p>Yes. It takes time to process a gift and send it to your sponsored child’s project. To send additional monetary gifts to your sponsored child, please ensure that the gift arrives to our North Chesterfield, Virginia office at least sixty days prior to the date you would like it to be received by the child. We will accept donations after this deadline, but please be aware that they may arrive late to your sponsored child.</p>
<h3 id="section6">May I send packages to my sponsored child in the United States ?</h3>
<p>Yes. Sending a gift is a great way to help your sponsored child at certain times of the year, or to let him or her know you are thinking of them. Here are some suggested guidelines:</p>
<p>Monetary gifts should be sent directly to our North Chesterfield, Virginia office for processing and distribution; our project coordinators are not able to process checks or cash. However, already-purchased items should be mailed directly to your sponsored child’s school address. If possible, use a tracking service when shipping a package.</p>
<p>If you wish to send a package as a Christmas gift, please mail it no later than mid-November, so the coordinator can distribute the gift before school closes for winter break. Please mail summer gifts no later than April 15th, as most schools close by mid-May.Due to high customs duties and the likelihood of loss, we do not recommend sending packages to programs outside of the United States. Children Incorporated cannot guarantee that the child you sponsor will receive such packages.</p>
<h3 id="section7">May I write to the child I sponsor?</h3>
<p>Yes! Corresponding with your sponsored child can be a delightful experience, and you will find your sponsored child’s project address enclosed in the child’s informational brochure. Our project volunteers will translate your letter, if necessary, and deliver it to the child you sponsor.</p>
<h3 id="section8">What should I write about?</h3>
<p>The children enjoy learning about the lives of their sponsors. Writing about your own family (children, grandchildren, brothers, sisters, etc.) is always a good place to start. The children also like to learn about your part of the world, what you do for a living, your hobbies and interests, and about any pets you may have.</p>
<h3 id="section9">What if I have specific questions regarding the child I sponsor?</h3>
<p>If you have questions or concerns about your sponsored child, please call or email our office. Depending on the nature of a child-specific question, we may need to contact our volunteer coordinator at the project your child attends for the requested information, but we will get that information to you just as soon as possible, provided it does not violate the child protection and privacy laws to which we adhere.</p>
<h3 id="section10">Is it possible to visit my sponsored child in the United States ?</h3>
<p>It is possible to visit sponsored children; however, since we work with a network of volunteers and projects, we simply cannot guarantee that all projects are open to sponsor visits. Circumstances vary from area to area. If you are interested in visiting your sponsored child, please contact us for specifics relating to the child and project.</p>
<p>If your child’s project does allow visits, we ask that you contact us at least 45 days prior to your planned visit. The Sponsorship Manager who oversees your child’s project will assist you by making arrangements with the project, the child’s parents, and our volunteer coordinator. You will need to fill out our visit request forms, as well as familiarize yourself with our child protection policy to which we ask that you adhere; this includes a background check at your expense.</p>
						</div>
					</article>
				</section>
			
			<div class="clear"></div>

		</div><!-- .white-block -->

	 </div>