<p class="pl-label">Text links</p>

<p>Lorem ipsum dolor sit amet, <a href="">consectetur adipisicing elit</a>. Enim, ratione, illo! <a href="">Doloribus</a> quod quae quia?</p>

<p class="pl-label">Navigation links (row)</p>

<ul class="menu menu-row">
	<li><a href="">link</a></li>
	<li><a href="">link</a></li>
	<li><a href="">link</a></li>
	<li><a href="">link</a></li>
	<li><a href="">link</a></li>
</ul>

<p class="pl-label">Navigation links (row with dot separators)</p>

<ul class="menu menu-row dot-separated-list">
    <li><a href="">link</a></li>
    <li><a href="">link</a></li>
    <li><a href="">link</a></li>
    <li><a href="">link</a></li>
    <li><a href="">link</a></li>
</ul>

<p class="pl-label">Navigation links (columns)</p>


<ul class="menu menu-column">
    <li>
        <a href="https://childrenincorporated.org/wont-you-join-us-in-our-efforts/">
        Donate</a>
    </li>
    <li>
        <a href="https://childrenincorporated.org/">Home</a>
    </li>
    <li>
        <a href="https://childrenincorporated.org/what-sponsorship-does/">
        What Sponsorship Does</a>
    </li>
    <li>
        <a href="https://childrenincorporated.org/our-work-2/">Our
        Work</a>
    </li>
</ul>
<ul class="menu menu-column">
    <li>
        <a href="https://childrenincorporated.org/shop/">Shop</a>
    </li>
    <li>
        <a href="https://childrenincorporated.org/events/">Events</a>
    </li>
    <li>
        <a href="https://childrenincorporated.org/meet-the-team/">Team</a>
    </li>
    <li>
        <a href="https://childrenincorporated.org/about/">About</a>
    </li>
    <li>
        <a href="https://childrenincorporated.org/f-a-q/">F.A.Q.</a>
    </li>
    <li>
        <a href="https://childrenincorporated.org/contact-us/">Contact
        Us</a>
    </li>
</ul>


<p class="pl-label">New link style</p>

<div class="ci-new-styles">
    <a href="">This is a link with the new styles</a>
</div>

<p class="pl-label">New link style on a button</p>

<div class="ci-new-styles">
    <button class="ci-faux-link">This is a button but it should look like a link</button>
</div>
