// Form element wrappers
.ci-form-section {
	margin-bottom: 3em;
}

.ci-form-element {
	position: relative;
	text-align: left;
	margin-bottom: 1em;
}

// Form element label

.ci-form-element__label {
	font-family: $titlefont;
	font-weight: bold;
	color: $grey-dark-2;
	text-transform: uppercase;
	font-size: 1.125em;
	line-height: 1;
	margin-bottom: .55em;
	display: inline-block;
}

// Form element help text
.ci-form-element__help {
	margin-top: .5em;
	display: block;
	font-family: $titlefont;
	text-transform: uppercase;

	.ci-has-error & {
		color: $error;
	}
}