#smooth-state {
	animation-duration: 0.4s;
	transition-timing-function: ease-in;
	animation-fill-mode: both;
	animation-name: slideIn;

	&.is-exiting {
		animation-name: slideOut;

		&.reverse {
			animation-direction: alternate-reverse;
		}
	}
}

.ci-checkout-modal {
	position: absolute;
	top: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: $grey-lt-3;
	overflow: scroll;
	transition: top 400ms ease-in-out;
	z-index: 1000;

	&.active {
		top: 0;
	}
}

.ci-checkout-modal-wrap {
	width: 100%;
	min-height: 100%;
	max-width: 800px;
	margin: 0 auto;
	background-color: $white;
	overflow: hidden;
}

.ci-checkout-modal-inner {
	text-align: center;
	padding: 2em;

	&:last-of-type {
		padding: 2em 2em 3em;
	}

	@media screen and (min-width: $bp-med) {
		padding: 3em 3em 4em;


		&:last-of-type {
			padding: 3em 3em 5em;
		}

	}

	h1,
	.h1,
	h2,
	.h2,
	h3,
	.h3,
	h4,
	.h4,
	h5,
	.h5,
	h6,
	.h6,
	p {
		max-width: 450px;
		margin-left: auto;
		margin-right: auto;
	}

}

.ci-checkout-modal-header {
	text-align: right;
	padding: 1em 1em;

	@media screen and (min-width: 900px) {
		padding: 0;
	}
}

.ci-checkout-modal-close {
	background: transparent;
	border: none;

	@media screen and (min-width: 900px) {
		position: absolute;
		top: 10px;
		right: 15px;
	}
}

.ci-checkout-section-header {
	margin-bottom: 3em;
}

.ci-checkout-modal-item {
	display: flex;
	background-color: $blue;
	color: $white;
	position: relative;
}

.ci-checkout-modal-item-img {
	width: 36%;

	img {
		max-width: 100%;
		float: left;
	}
}

.ci-checkout-modal-item-desc {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 64%;
	text-align: center;
	padding: 10px;
}

.ci-checkout-modal-item-intro {
	font-style: italic;
}

.ci-checkout-modal-item-name {
	color: $yellow;
	font-size: 1.75em;
	display: inline-block;
	margin: .35em 0;
}

.ci-checkout-modal-item-amount {
	font-family: $titlefont;
font-weight: bold;
	font-size: 1.125em;
	text-transform: uppercase;
}

// .ci-step-counter {
// 	margin-bottom: 2.25em;
// 	font-family: $titlefont;
// 	text-transform: uppercase;
// 	color: $grey-dark-2;
// }

// .ci-step-counter-current {
// 	display: inline-block;
// 	background-color: $blue;
// 	border-radius: 50%;
// 	color: $white;
// 	width: 1.6em;
// 	height: 1.6em;
// 	font-size: 1.5625em;
// 	font-weight: bold;
// 	margin: 0 5px;
// 	vertical-align: middle;
// 	display: inline-flex;
// 	justify-content: center;
// 	align-items: center;
// }

.ci-checkout-modal-thank-you__cover {
	img {
		width: 100%;
		height: auto;
		display: block;
	}
}

.ci-checkout-modal-footer {
	border-top: 1px solid $grey-lt;
}